In [1]:
import pandas as pd

#

# Dataset sem as coordenadas geográficas

In [ ]:
!pip install -q geopandas
!pip install -q geopy
# https://towardsdatascience.com/geocode-with-python-161ec1e62b89

In [ ]:
!ls -ilah *.csv

ls: cannot access '*.csv': No such file or directory

In [ ]:
url = 'https://raw.githubusercontent.com/vladimiralencar/Alunos-UEPB-TopicosEspeciaisEmBancoDeDados/master/Clusterizacao/Cambridge%20Crime%20Data%202009-2016.csv'
url

'https://raw.githubusercontent.com/vladimiralencar/Alunos-UEPB-TopicosEspeciaisEmBancoDeDados/master/Clusterizacao/Cambridge%20Crime%20Data%202009-2016.csv'

In [ ]:
f = 'Cambridge Crime Data 2009-2016.csv'
f = url
df = pd.read_csv(f)
print(len(df))
df.head()

56014

  File Number  ...                                           Location
0  2009-00002  ...            400 Massachusetts Avenue, Cambridge, MA
1  2009-00003  ...                200 HAMPSHIRE STREET, Cambridge, MA
2  2009-00004  ...  DUNSTER STREET & MOUNT AUBURN STREET, Cambridg...
3  2009-00005  ...                100 SCIARAPPA STREET, Cambridge, MA
4  2009-00006  ...           1200 Massachusetts Avenue, Cambridge, MA

[5 rows x 7 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56014 entries, 0 to 56013
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   File Number      56014 non-null  object
 1   Date of Report   56014 non-null  object
 2   Crime Date Time  56014 non-null  object
 3   Crime            56014 non-null  object
 4   Reporting Area   56012 non-null  float64
 5   Neighborhood     56012 non-null  object
 6   Location         55931 non-null  object
dtypes: float64(1), object(6)
memory usage: 3.0+ MB

In [ ]:
import geopandas
import geopy
from geopy.geocoders import Nominatim

user_agent = ['myGeocoder', 'http']
locator = Nominatim(user_agent=user_agent[0])
location = locator.geocode('Champ de Mars, Paris, France')
print('Latitude = {}, Longitude = {}'.format(location.latitude, location.longitude))

Latitude = 48.85614465, Longitude = 2.297820393322227

In [ ]:
import geopandas
import geopy
from geopy.geocoders import Nominatim

user_agent = ['myGeocoder', 'http']
locator = Nominatim(user_agent=user_agent[0])
location = locator.geocode('Rua Baraúnas, 351, Paraiba, Brazil')
print('Latitude = {}, Longitude = {}'.format(location.latitude, location.longitude))

Latitude = -7.2098379999999995, Longitude = -35.915795853829195

In [ ]:
#df1000 = df[:1000]
#print(len(df1000))
#df = df1000.copy()
#df1000.head()

In [ ]:
# Wall time: 8min 29s - min_delay_seconds = 0.01
# Wall time: 8min 29s - min_delay_seconds = 0
# Wall time: 8min 19s

In [ ]:
%%time
def criar_latitude_longitude():
  from geopy.extra.rate_limiter import RateLimiter

  # 1 - conveneint function to delay between geocoding calls
  min_delay_seconds = 0 # 0.01 #1
  geocode = RateLimiter(locator.geocode, min_delay_seconds= min_delay_seconds)
  # 2- - create location column
  df['location'] = df['Location'].apply(geocode)
  # 3 - create longitude, laatitude and altitude from location column (returns tuple)
  df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)
  # 4 - split point column into latitude, longitude and altitude columns
  df[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df['point'].tolist(), index=df.index)

# Tempo de Execucao em 56.014 Pontos
# CPU times: user 5min 25s, sys: 1min 1s, total: 6min 26s
# Wall time: 7h 46min 57s
# criar_latitude_longitude()

df.head()

RateLimiter caught an error, retrying (0/2 tries). Called with (*('100 WASHINGTON STREET, Cambridge, MA',), **{}).
Traceback (most recent call last):
  File "/usr/lib/python3.7/urllib/request.py", line 1350, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/usr/lib/python3.7/http/client.py", line 1277, in request
    self._send_request(method, url, body, headers, encode_chunked)
  File "/usr/lib/python3.7/http/client.py", line 1323, in _send_request
    self.endheaders(body, encode_chunked=encode_chunked)
  File "/usr/lib/python3.7/http/client.py", line 1272, in endheaders
    self._send_output(message_body, encode_chunked=encode_chunked)
  File "/usr/lib/python3.7/http/client.py", line 1032, in _send_output
    self.send(msg)
  File "/usr/lib/python3.7/http/client.py", line 972, in send
    self.connect()
  File "/usr/lib/python3.7/http/client.py", line 1439, in connect
    super().connect()
  File "/usr/lib/python3.7/http/client.py", line 944, in connect
    (self.host,self.port), self.timeout, self.source_address)
  File "/usr/lib/python3.7/socket.py", line 728, in create_connection
    raise err
  File "/usr/lib/python3.7/socket.py", line 716, in create_connection
    sock.connect(sa)
OSError: [Errno 99] Cannot assign requested address

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/geopy/geocoders/base.py", line 344, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/usr/lib/python3.7/urllib/request.py", line 525, in open
    response = self._open(req, data)
  File "/usr/lib/python3.7/urllib/request.py", line 543, in _open
    '_open', req)
  File "/usr/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/usr/lib/python3.7/urllib/request.py", line 1393, in https_open
    context=self._context, check_hostname=self._check_hostname)
  File "/usr/lib/python3.7/urllib/request.py", line 1352, in do_open
    raise URLError(err)
urllib.error.URLError: <urlopen error [Errno 99] Cannot assign requested address>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/geopy/extra/rate_limiter.py", line 130, in __call__
    return self.func(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/geopy/geocoders/osm.py", line 307, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/usr/local/lib/python3.7/dist-packages/geopy/geocoders/base.py", line 375, in _call_geocoder
    raise GeocoderServiceError(message)
geopy.exc.GeocoderServiceError: [Errno 99] Cannot assign requested address
RateLimiter caught an error, retrying (0/2 tries). Called with (*('0 JFK ST, Cambridge, MA',), **{}).
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/geopy/geocoders/base.py", line 344, in _call_geocoder
    page = requester(req, timeout=timeout, **kwargs)
  File "/usr/lib/python3.7/urllib/request.py", line 531, in open
    response = meth(req, response)
  File "/usr/lib/python3.7/urllib/request.py", line 641, in http_response
    'http', request, response, code, msg, hdrs)
  File "/usr/lib/python3.7/urllib/request.py", line 569, in error
    return self._call_chain(*args)
  File "/usr/lib/python3.7/urllib/request.py", line 503, in _call_chain
    result = func(*args)
  File "/usr/lib/python3.7/urllib/request.py", line 649, in http_error_default
    raise HTTPError(req.full_url, code, msg, hdrs, fp)
urllib.error.HTTPError: HTTP Error 500: Internal Server Error

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/geopy/geocoders/base.py", line 362, in _call_geocoder
    raise ERROR_CODE_MAP[code](message)
KeyError: 500

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/geopy/extra/rate_limiter.py", line 130, in __call__
    return self.func(*args, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/geopy/geocoders/osm.py", line 307, in geocode
    self._call_geocoder(url, timeout=timeout), exactly_one
  File "/usr/local/lib/python3.7/dist-packages/geopy/geocoders/base.py", line 364, in _call_geocoder
    raise GeocoderServiceError(message)
geopy.exc.GeocoderServiceError: HTTP Error 500: Internal Server Error

CPU times: user 5min 25s, sys: 1min 1s, total: 6min 26s
Wall time: 7h 46min 57s

# Tempo de Execucao em 56.014 Pontos
# CPU times: user 5min 25s, sys: 1min 1s, total: 6min 26s
# Wall time: 7h 46min 57s

##
## Dataset com Coordenadas (Latitude, Longitude)

In [1]:
%%time
#df.to_csv('cambridge_crimes-2009-2016.csv', index=False)
#from google.colab import files
#files.download('cambridge_crimes-2009-2016.csv')

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 4.77 µs

In [2]:
url = 'https://raw.githubusercontent.com/vladimiralencar/Alunos-UEPB-TopicosEspeciaisEmBancoDeDados/master/Clusterizacao/cambridge_crimes-2009-2016.csv'
url

'https://raw.githubusercontent.com/vladimiralencar/Alunos-UEPB-TopicosEspeciaisEmBancoDeDados/master/Clusterizacao/cambridge_crimes-2009-2016.csv'

In [3]:
import pandas as pd
df = pd.read_csv(url)
df.head()

  File Number          Date of Report  ...  longitude altitude
0  2009-00002  01/01/2009 12:39:00 AM  ... -71.100471      0.0
1  2009-00003  01/01/2009 01:34:00 AM  ... -71.100230      0.0
2  2009-00004  01/01/2009 01:43:00 AM  ...        NaN      NaN
3  2009-00005  01/01/2009 02:27:00 AM  ... -71.081854      0.0
4  2009-00006  01/01/2009 02:34:00 AM  ... -71.092525      0.0

[5 rows x 12 columns]

In [4]:
print(len(df))
df = df.dropna()
print(len(df))
df.head()

56014
47944

  File Number          Date of Report  ...  longitude altitude
0  2009-00002  01/01/2009 12:39:00 AM  ... -71.100471      0.0
1  2009-00003  01/01/2009 01:34:00 AM  ... -71.100230      0.0
3  2009-00005  01/01/2009 02:27:00 AM  ... -71.081854      0.0
4  2009-00006  01/01/2009 02:34:00 AM  ... -71.092525      0.0
5  2009-00007  01/01/2009 02:45:00 AM  ... -71.109300      0.0

[5 rows x 12 columns]

# Plotar Mapa

In [2]:
#!pip install folium

In [9]:
%%javascript
function ClickConnect(){
console.log("Working"); 
document.querySelector("paper-icon-button").click()
}
Const myjob = setInterval(ClickConnect, 60000)
clearInterval(myjob)

In [10]:
lat = 42.363015
lon = -71.100471
location = [59.338315,18.089960]

url = 'https://raw.githubusercontent.com/vladimiralencar/Alunos-UEPB-TopicosEspeciaisEmBancoDeDados/master/Clusterizacao/cambridge_crimes-2009-2016.csv'
url

import pandas as pd

df = pd.read_csv(url)

df = df.dropna()

import folium

map1 = folium.Map(
    location=[lat, lon],
    #tiles='cartodbpositron',
    zoom_start=12,
)
#df.apply(lambda row:folium.CircleMarker(location=[row["latitude"], row["longitude"]]).add_to(map1), axis=1)
for index, row in df.iterrows():
    folium.CircleMarker(location=[row["latitude"], row["longitude"]]).add_to(map1)
map1

In [ ]:
import folium

map1 = folium.Map(
    location=[lat, lon],
    #tiles='cartodbpositron',
    zoom_start=12,
)
df.apply(lambda row:folium.CircleMarker(location=[row["latitude"], row["longitude"]]).add_to(map1), axis=1)
map1

In [ ]:
df.head()

  File Number          Date of Report  ...  longitude altitude
0  2009-00002  01/01/2009 12:39:00 AM  ... -71.100471      0.0
1  2009-00003  01/01/2009 01:34:00 AM  ... -71.100230      0.0
3  2009-00005  01/01/2009 02:27:00 AM  ... -71.081854      0.0
4  2009-00006  01/01/2009 02:34:00 AM  ... -71.092525      0.0
5  2009-00007  01/01/2009 02:45:00 AM  ... -71.109300      0.0

[5 rows x 12 columns]

In [ ]:
lat = 42.363015
lon = -71.100471
location = [59.338315,18.089960]

def plotar_mapa():
  import folium

  map1 = folium.Map(
      location=[lat, lon],
      tiles='cartodbpositron',
      zoom_start=12,
  )
  df.apply(lambda row:folium.CircleMarker(location=[row["latitude"], row["longitude"]]).add_to(map1), axis=1)
  return map1

#map1 = plotar_mapa()
#map1

# Estatística Descritiva

In [ ]:
df.Crime.value_counts()

Larceny from MV           3854
Domestic Dispute          3572
Hit and Run               3359
Mal. Dest. Property       3127
Simple Assault            2824
Larceny from Building     2738
Shoplifting               2639
Housebreak                2595
Forgery                   2478
Larceny of Bicycle        2402
Warrant Arrest            1996
Larceny from Person       1966
Larceny from Residence    1706
Threats                   1517
Aggravated Assault        1402
Flim Flam                  913
Missing Person             911
Auto Theft                 909
Harassment                 763
Commercial Break           566
Admin Error                502
Street Robbery             446
Drugs                      442
Phone Calls                434
Violation of R.O.          359
Trespassing                341
Accident                   314
Suspicious Package         292
Disorderly                 244
Larceny of Plate           223
Larceny (Misc)             216
OUI                        183
Commercial Robbery         177
Indecent Exposure          159
Larceny of Services        150
Taxi Violation             145
Drinking in Public         142
Counterfeiting             132
Rec. Stol. Property        118
Embezzlement               111
Violation of H.O.          110
Weapon Violations           68
Arson                       66
Annoying & Accosting        59
Peeping & Spying            44
Noise Complaint             42
Liquor Possession/Sale      38
Sex Offender Violation      36
Kidnapping                  30
Extortion/Blackmail         29
Stalking                    20
Homicide                    17
Prostitution                16
Gambling                     2
Name: Crime, dtype: int64

In [ ]:
df.Neighborhood.value_counts()

In [ ]:
df['bairro']  = pd.Categorical(df.Neighborhood).codes
df['tipo_crime'] = pd.Categorical(df.Crime).codes
df['localizacao'] = pd.Categorical(df.Location).codes
df.head()

In [ ]:
import seaborn as sns
sns.scatterplot(  df.bairro, df.tipo_crime)

In [ ]:
import seaborn as sns
sns.scatterplot( df.localizacao,  df.tipo_crime)

In [ ]:
df.head()

In [ ]:
df['Reporting Area'].unique()

In [ ]:
df.Location.value_counts()

In [ ]:
df.info()

In [ ]:
len(df)

In [ ]:
df.Crime.value_counts()[:20].sum()

In [ ]:
df.Crime.value_counts()[:15].sum()

In [ ]:
df.Crime.value_counts()[:15]

In [ ]:
crimes = list(df.Crime.value_counts()[:15].index)
crimes

In [ ]:
df2 = df[df.Crime.str.contains('|'.join(crimes))]
len(df2)

In [ ]:
df2.head()

In [ ]:
import seaborn as sns
sns.scatterplot(  df2.tipo_crime, df2.localizacao)

In [ ]:
df2['Reporting Area'].unique()

In [ ]:
s = df2['Reporting Area'].unique()
s2 = s.astype(int)
s2

In [ ]:
len(s2)

In [ ]:
df2 = df.fillna(0)
df2['area'] = df2['Reporting Area'].astype(int)
df2.head()

In [ ]:
df2.area.value_counts()[:10]

In [ ]:
sns.scatterplot(  df2.area,  df2.tipo_crime)

In [ ]:
df2.info()

In [ ]:
df2.head()

In [ ]:
df2['data_crime'] = pd.to_datetime(df2['Crime Date Time'], infer_datetime_format=True, errors='coerce')
#  format='%d/%m/%Y H:M') #, errors='coerce')
#del df2['datad']
df2.head()

In [ ]:
#del df2['datad']
df2.head()

In [ ]:
from datetime import datetime
import re

def extrair_data(row):
    
    x = row['Crime Date Time']
    
    data = re.search("([0-9]{2}\/[0-9]{2}\/[0-9]{4})", x) #.group(0)
    hora = re.search("([0-9]{2}\:[0-9]{2})", x) #.group(0)
    
    data_crime = data
    
    if data is not None:
        data = data.group(0)
        data_crime = data
        if hora is not None:
            hora = hora.group(0)
        else:
            hora = '00:00'
        data_crime = data + ' ' + hora
        data_crime = datetime.strptime(data_crime, '%m/%d/%Y %H:%M')
    return data_crime
    
df2['data_crime'] = df2.apply( extrair_data, axis=1 )  
df2.head()

In [ ]:
df2.data_crime.isna().sum(), len(df2)

In [ ]:
df3 = df2[ ~ df2.data_crime.isna()  ]

print(len(df3))
df3.head()

In [ ]:
df3.data_crime.isna().sum()

In [ ]:
len(df3)

In [ ]:
%%time
sns.set(rc={'figure.figsize':(12,8)})
sns.lineplot(x = 'data_crime', y = 'tipo_crime', data = df3)

In [ ]:
df3.data_crime.describe()

In [ ]:
len(df3.tipo_crime.unique())

In [ ]:
df3.Crime.value_counts()

In [ ]:
dfc = df3[ df3.Crime == 'Hit and Run']
len(dfc)

In [ ]:
sns.set(rc={'figure.figsize':(12,8)})
sns.distplot(dfc.data_crime)

In [ ]:
df4 = df3.copy()
df4.set_index('data_crime', inplace=True)
df4.resample('Y').size().plot.bar()

In [ ]:
# Janela de 2010 para 2016
data_atual = '2010-01-01'
data_crime_atual = datetime.strptime(data_atual, '%Y-%m-%d')

df5 =  df3.copy()
df6 = df5[ df5.data_crime >= data_crime_atual ]
len(df4), len(df5), len(df6)

In [ ]:
df7 = df6.copy()
df7.set_index('data_crime', inplace=True)
df7.resample('Y').size().plot.bar()

In [ ]:
df6.data_crime.describe()

In [ ]:
data_atual = '2015-09-30'
data_crime_atual = datetime.strptime(data_atual, '%Y-%m-%d')

df8 =  df6.copy()
df8 = df8[ df8.data_crime >= data_crime_atual ]
len(df8)

In [ ]:
df9 = df8.copy()
df9.set_index('data_crime', inplace=True)
df9.resample('M').size().plot.bar()

In [ ]:
#df9 = df8.copy()
#df9.set_index('data_crime', inplace=True)
#df9.resample('D').size().plot.bar()

In [ ]:
#df9 = df8.copy()
#df9.set_index('data_crime', inplace=True)
#df9.resample('H').size().plot.bar()

In [ ]:
# Comportamento do roubo por hora 

dfc = df3[ df3.Crime == 'Hit and Run']
len(dfc)

In [ ]:
df = dfc.copy()
df['hora'] = dfc.data_crime.apply(lambda x : x.hour)
df.head()

In [ ]:
hora_roubo = df.hora.value_counts().to_frame().reset_index()
#hora_roubo.index = 'horario'

hora_roubo.columns = [ 'hora', 'Hit and Run']
hora_roubo.head()

In [ ]:
df_roubo = hora_roubo.sort_values(by='hora', ascending=False).reset_index(drop=True)
df_roubo

In [ ]:
sns.lineplot(x = 'Hit and Run', y='hora', data=df_roubo)

In [ ]:
sns.lineplot(y = 'Hit and Run', x='hora', data=df_roubo)

In [ ]:
df_roubo.plot() #kind = 'barh')