# Tuplas

In [1]:
t1 = ('covid19', 100, True)
t1

('covid19', 100, True)

In [2]:
type(t1)

tuple

In [3]:
t1[0]

'covid19'

In [4]:
t1.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
l = list(t1)
l

['covid19', 100, True]

In [6]:
type(l)

list

In [7]:
l.append(10)
l

['covid19', 100, True, 10]

In [8]:
len(t1)

3

In [9]:
del t1

In [10]:
t1

NameError: name 't1' is not defined

# Dicionário

In [11]:
d1 = { 'Maria': 19, 'André': 28, 'Paulo': 31, 'Amanda': 26 }
d1

{'Maria': 19, 'André': 28, 'Paulo': 31, 'Amanda': 26}

In [12]:
type(d1)

dict

In [13]:
d1.items()

dict_items([('Maria', 19), ('André', 28), ('Paulo', 31), ('Amanda', 26)])

In [14]:
d1.keys()

dict_keys(['Maria', 'André', 'Paulo', 'Amanda'])

In [15]:
d1.values()

dict_values([19, 28, 31, 26])

In [16]:
d1['Beto'] = 19
d1

{'Maria': 19, 'André': 28, 'Paulo': 31, 'Amanda': 26, 'Beto': 19}

In [17]:
d2 = { 12: 34, 'a': True}
d2

{12: 34, 'a': True}

In [18]:
d1.update(d2)
d1

{'Maria': 19,
 'André': 28,
 'Paulo': 31,
 'Amanda': 26,
 'Beto': 19,
 12: 34,
 'a': True}

In [19]:
d1['k1'] = [10, 'UEPB', 3.14159]
d1

{'Maria': 19,
 'André': 28,
 'Paulo': 31,
 'Amanda': 26,
 'Beto': 19,
 12: 34,
 'a': True,
 'k1': [10, 'UEPB', 3.14159]}

In [20]:
d1['k1'][1]

'UEPB'

In [21]:
d1['Maria'] -= 1
d1

{'Maria': 18,
 'André': 28,
 'Paulo': 31,
 'Amanda': 26,
 'Beto': 19,
 12: 34,
 'a': True,
 'k1': [10, 'UEPB', 3.14159]}

# Expressões Lambda

In [22]:
def potencia(x):
    return x * x

In [23]:
potencia(5)

25

In [24]:
def potencia(x): return x*x

In [25]:
potencia(5)

25

In [28]:
Pot = lambda x : x * x

In [29]:
Pot(9)

81

In [30]:
addNum = lambda x,y : x+y

In [31]:
addNum(1,2)

3

# Comando for

In [32]:
range(10)

range(0, 10)

In [33]:
range(1,11)

range(1, 11)

In [34]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [36]:
for i in range(1,10, 2):
    print(i)

1
3
5
7
9

In [37]:
l = [ 10, 'a', 3.4]
l

[10, 'a', 3.4]

In [38]:
for i in l:
    print(i)

10
a
3.4

In [39]:
c = 0
while c < 10:
    print(c)
    c += 1

0
1
2
3
4
5
6
7
8
9

In [40]:
c = 0
while c < 10:

    if c == 5:
        break
        
    c += 1
    
print(c)

5

In [41]:
d1

{'Maria': 18,
 'André': 28,
 'Paulo': 31,
 'Amanda': 26,
 'Beto': 19,
 12: 34,
 'a': True,
 'k1': [10, 'UEPB', 3.14159]}

In [43]:
for elem in d1:
    print(elem)

Maria
André
Paulo
Amanda
Beto
12
a
k1

In [44]:
d1.items()

dict_items([('Maria', 18), ('André', 28), ('Paulo', 31), ('Amanda', 26), ('Beto', 19), (12, 34), ('a', True), ('k1', [10, 'UEPB', 3.14159])])

In [45]:
for chave, valor in d1.items():
    print(chave, ' : ', valor)

Maria  :  18
André  :  28
Paulo  :  31
Amanda  :  26
Beto  :  19
12  :  34
a  :  True
k1  :  [10, 'UEPB', 3.14159]

# DataFrames

In [46]:
import pandas as pd

In [47]:
df = pd.DataFrame()
type(df)

pandas.core.frame.DataFrame

In [48]:
df['Nome'] = ['Jéssica', 'Pedro']
df

      Nome
0  Jéssica
1    Pedro

In [49]:
df['idade'] = [23, 31]
df

      Nome  idade
0  Jéssica     23
1    Pedro     31

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nome    2 non-null      object
 1   idade   2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 160.0+ bytes

In [52]:
# Pais, Total_doses_aplicadas, %_vacinado

data = { 
    'pais': ['Estados Unidos', 'India', 'Reino Unido',  'Brasil', 'Turquia' ], 
    'Total_doses_aplicadas': [30473853, 53000000, 31186362, 5943964, 13969867 ],
    '%_vacinado': [14.1, 0.61, 3.8, 1.8, 7.0]
}
type(data)

dict

In [53]:
data

{'pais': ['Estados Unidos', 'India', 'Reino Unido', 'Brasil', 'Turquia'],
 'Total_doses_aplicadas': [30473853, 53000000, 31186362, 5943964, 13969867],
 '%_vacinado': [14.1, 0.61, 3.8, 1.8, 7.0]}

In [54]:
df = pd.DataFrame(data)
df

             pais  Total_doses_aplicadas  %_vacinado
0  Estados Unidos               30473853       14.10
1           India               53000000        0.61
2     Reino Unido               31186362        3.80
3          Brasil                5943964        1.80
4         Turquia               13969867        7.00

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   pais                   5 non-null      object
 1   Total_doses_aplicadas  5 non-null      int64
 2   %_vacinado             5 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 248.0+ bytes

In [56]:
df.pais

0    Estados Unidos
1             India
2       Reino Unido
3            Brasil
4           Turquia
Name: pais, dtype: object

In [58]:
v = df.pais.values
v

array(['Estados Unidos', 'India', 'Reino Unido', 'Brasil', 'Turquia'],
      dtype=object)

In [59]:
v = df.Total_doses_aplicadas.values
v

array([30473853, 53000000, 31186362,  5943964, 13969867])

In [61]:
df[ ['pais', '%_vacinado'] ]

             pais  %_vacinado
0  Estados Unidos       14.10
1           India        0.61
2     Reino Unido        3.80
3          Brasil        1.80
4         Turquia        7.00