In [1]:
!ls *.csv

Casos_por_cidades.csv          covid19-6-abril-2021-NOITE.csv
TSLA.csv                       iris.csv
binary.csv                     mapa_br_covid.csv
car.csv                        salarios.csv
covid19-05-abril-2021.csv

In [3]:
import pandas as pd

url = 'https://raw.githubusercontent.com/vladimiralencar/Alunos-UEPB-TopicosEspeciaisEmBancoDeDados/master/Python-Para-Analise-de-Dados/Casos_por_cidades.csv'
df = pd.read_csv(url)
df.head()

,city,city_ibge_code,date,epidemiological_week,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,São Paulo,3550308.0,2020-08-18,34,12252023.0,False,True,236163,1927.54290,2020-08-17,0.0450,10625,176,city,SP,0,0
1,Brasília,5300108.0,2020-08-18,34,3015268.0,False,True,120321,3990.39157,2020-08-16,0.0150,1807,165,city,DF,0,0
2,Rio de Janeiro,3304557.0,2020-08-18,34,6718903.0,False,True,80899,1204.05072,2020-08-17,0.1091,8830,166,city,RJ,0,0
3,Salvador,2927408.0,2020-08-18,34,2872347.0,False,True,68087,2370.43087,2020-08-17,0.0319,2174,159,city,BA,0,0
4,Fortaleza,2304400.0,2020-08-18,34,2669342.0,False,True,44974,1684.83469,2020-08-17,0.0836,3758,156,city,CE,0,0

In [4]:
df2 = df.sort_values(by='last_available_confirmed', ascending=False)[:10]
df2

,city,city_ibge_code,date,epidemiological_week,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,São Paulo,3550308.0,2020-08-18,34,12252023.0,False,True,236163,1927.54290,2020-08-17,0.0450,10625,176,city,SP,0,0
1,Brasília,5300108.0,2020-08-18,34,3015268.0,False,True,120321,3990.39157,2020-08-16,0.0150,1807,165,city,DF,0,0
2,Rio de Janeiro,3304557.0,2020-08-18,34,6718903.0,False,True,80899,1204.05072,2020-08-17,0.1091,8830,166,city,RJ,0,0
3,Salvador,2927408.0,2020-08-18,34,2872347.0,False,True,68087,2370.43087,2020-08-17,0.0319,2174,159,city,BA,0,0
4,Fortaleza,2304400.0,2020-08-18,34,2669342.0,False,True,44974,1684.83469,2020-08-17,0.0836,3758,156,city,CE,0,0
5,Manaus,1302603.0,2020-08-18,34,2182763.0,False,True,39563,1812.51927,2020-08-17,0.0546,2159,159,city,AM,0,0
6,Aracaju,2800308.0,2020-08-18,34,657013.0,False,True,31777,4836.58619,2020-08-17,0.0201,640,158,city,SE,0,0
7,Boa Vista,1400100.0,2020-08-18,34,399213.0,False,True,29978,7509.27450,2020-08-17,0.0148,444,151,city,RR,0,0
8,Recife,2611606.0,2020-08-18,34,1645727.0,False,True,29718,1805.76730,2020-08-17,0.0747,2220,160,city,PE,0,0
9,Belém,1501402.0,2020-08-18,34,1492745.0,False,True,29262,1960.28123,2020-08-17,0.0709,2074,154,city,PA,0,0

In [6]:
at = [ 'city', 'last_available_confirmed' ]
print(df2[ at ][:5])

             city  last_available_confirmed
0       São Paulo                    236163
1        Brasília                    120321
2  Rio de Janeiro                     80899
3        Salvador                     68087
4       Fortaleza                     44974

In [7]:
import pandas as pd

url = 'https://raw.githubusercontent.com/vladimiralencar/Alunos-UEPB-TopicosEspeciaisEmBancoDeDados/master/Python-Para-Analise-de-Dados/Casos_por_cidades.csv'
df = pd.read_csv(url)

df2 = df.sort_values(by='last_available_confirmed', ascending=False)[:10]
at = [ 'city', 'last_available_confirmed' ]
print(df2[ at ][:5])

             city  last_available_confirmed
0       São Paulo                    236163
1        Brasília                    120321
2  Rio de Janeiro                     80899
3        Salvador                     68087
4       Fortaleza                     44974