# Doenca Renal Cronica - Selecao de Atributos

In [1]:
!ls

1-s2.0-S2153353923000032-main.pdf
Ashiqs_CKD-final.pdf
DataFrames-02-Converter-Categórico-Para-Inteiro.ipynb
Doenca Renal Cronica - Selecao de Atributos.ipynb
RegressaoLinearMultipla-05.ipynb
SelecaoDeAtributos-v2021.ipynb
ckd-dataset-v2.csv

In [ ]:
CKD dataset	Attributes meaning
age  Age
bp   Blood pressure
sg   pecific gravity
al   Albumin
su   Sugar
rbc  Red blood cells
pc   Pus cell
pcc  Pus cell clumps
ba   Bacteria
bgr  Blood glucose random
bu   Blood urea
sc   Serum creatinine
sod  Sodium
pot  Potassium
hemo Hemoglobin
pcv  Packed cell volume
wc   White blood cell count
rc   Red blood cell count
htn  Hypertension
dm   Diabetes mellitus
cad  Coronary artery disease
appet Appetite
pe     Peda edema
ane   Anemia
Classification  Class

In [97]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 500)

In [98]:
!head ckd-dataset-v2.csv

bp (Diastolic),bp limit,sg,al,class,rbc,su,pc,pcc,ba,bgr,bu,sod,sc,pot,hemo,pcv,rbcc,wbcc,htn,dm,cad,appet,pe,ane,grf,stage,affected,age
discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete,discrete
,,,,,,,,,,,,,,,,,,,,,,,,,,,class,meta
0,0,1.019 - 1.021,1 - 1,ckd,0,< 0,0,0,0,< 112,< 48.1,138 - 143,< 3.65,< 7.31,11.3 - 12.6,33.5 - 37.4,4.46 - 5.05,7360 - 9740,0,0,0,0,0,0,≥ 227.944,s1,1,< 12
0,0,1.009 - 1.011,< 0,ckd,0,< 0,0,0,0,112 - 154,< 48.1,133 - 138,< 3.65,< 7.31,11.3 - 12.6,33.5 - 37.4,4.46 - 5.05,12120 - 14500,0,0,0,0,0,0,≥ 227.944,s1,1,< 12
0,0,1.009 - 1.011,≥ 4,ckd,1,< 0,1,0,1,< 112,48.1 - 86.2,133 - 138,< 3.65,< 7.31,8.7 - 10,29.6 - 33.5,4.46 - 5.05,14500 - 16880,0,0,0,1,0,0,127.281 - 152.446,s1,1,< 12
1,1,1.009 - 1.011,3 - 3,ckd,0,< 0,0,0,0,112 - 154,< 48.1,133 - 138,< 3.65,< 7.31,13.9 - 15.2,41.3 - 45.2,4.46 - 5.05,7360 - 9740,0,0,0,0,0,0,127.281 - 152.446,s1,1,< 12
0,0,1.015 - 1.017,< 0,ckd,0,< 0,0,0,0,154 - 196,< 48.1,133 - 138,< 3.65,< 7.31,13.9 - 15.2,37.4 - 41.3,5.05 - 5.64,7360 - 9740,0,1,0,1,1,0,127.281 - 152.446,s1,1,12 - 20
1,1,≥ 1.023,< 0,notckd,0,< 0,0,0,0,< 112,< 48.1,133 - 138,< 3.65,< 7.31,≥ 16.5,≥ 49.1,5.05 - 5.64,4980 - 7360,0,0,0,0,0,0,102.115 - 127.281,s1,0,12 - 20
0,0,1.019 - 1.021,3 - 3,ckd,0,< 0,0,0,0,< 112,< 48.1,138 - 143,< 3.65,< 7.31,10 - 11.3,29.6 - 33.5,3.28 - 3.87,7360 - 9740,1,1,0,0,0,0,177.612 - 202.778,s1,1,12 - 20

In [99]:
atributos = [ 'bp (Diastolic)','bp limit','sg','al','class','rbc','su','pc','pcc','ba','bgr','bu',
             'sod','sc','pot','hemo','pcv','rbcc','wbcc','htn','dm','cad','appet','pe','ane','grf','stage',
             'affected','age']
print(atributos)

['bp (Diastolic)', 'bp limit', 'sg', 'al', 'class', 'rbc', 'su', 'pc', 'pcc', 'ba', 'bgr', 'bu', 'sod', 'sc', 'pot', 'hemo', 'pcv', 'rbcc', 'wbcc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'grf', 'stage', 'affected', 'age']

In [100]:
file = 'ckd-dataset-v2.csv'
df = pd.read_csv(file, skiprows=5, header=None)
df.columns = atributos
print(len(df))
df.head()

198

,bp (Diastolic),bp limit,sg,al,class,rbc,su,pc,pcc,ba,bgr,bu,sod,sc,pot,hemo,pcv,rbcc,wbcc,htn,dm,cad,appet,pe,ane,grf,stage,affected,age
0,0,0,1.009 - 1.011,≥ 4,ckd,1,< 0,1,0,1,< 112,48.1 - 86.2,133 - 138,< 3.65,< 7.31,8.7 - 10,29.6 - 33.5,4.46 - 5.05,14500 - 16880,0,0,0,1,0,0,127.281 - 152.446,s1,1,< 12
1,1,1,1.009 - 1.011,3 - 3,ckd,0,< 0,0,0,0,112 - 154,< 48.1,133 - 138,< 3.65,< 7.31,13.9 - 15.2,41.3 - 45.2,4.46 - 5.05,7360 - 9740,0,0,0,0,0,0,127.281 - 152.446,s1,1,< 12
2,0,0,1.015 - 1.017,< 0,ckd,0,< 0,0,0,0,154 - 196,< 48.1,133 - 138,< 3.65,< 7.31,13.9 - 15.2,37.4 - 41.3,5.05 - 5.64,7360 - 9740,0,1,0,1,1,0,127.281 - 152.446,s1,1,12 - 20
3,1,1,≥ 1.023,< 0,notckd,0,< 0,0,0,0,< 112,< 48.1,133 - 138,< 3.65,< 7.31,≥ 16.5,≥ 49.1,5.05 - 5.64,4980 - 7360,0,0,0,0,0,0,102.115 - 127.281,s1,0,12 - 20
4,0,0,1.019 - 1.021,3 - 3,ckd,0,< 0,0,0,0,< 112,< 48.1,138 - 143,< 3.65,< 7.31,10 - 11.3,29.6 - 33.5,3.28 - 3.87,7360 - 9740,1,1,0,0,0,0,177.612 - 202.778,s1,1,12 - 20

In [101]:
categorias = []
for col in atributos:
    #print(df[col].dtype)
    if df[col].dtype == 'object':
        categoria = categorias.append(col)
    
print(categorias)

['sg', 'al', 'class', 'su', 'bgr', 'bu', 'sod', 'sc', 'pot', 'hemo', 'pcv', 'rbcc', 'wbcc', 'grf', 'stage', 'age']

In [102]:
len(atributos), len(categorias)

(29, 16)

In [125]:
df.isnull().sum()

bp (Diastolic)    0
bp limit          0
sg                0
al                0
class             0
rbc               0
su                0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sod               0
sc                0
pot               0
hemo              0
pcv               0
rbcc              0
wbcc              0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
grf               0
stage             0
affected          0
age               0
dtype: int64

In [103]:
df2 = df.copy()

In [104]:
# converter object para categoria
for col in categorias:
    df2[col] =  df2[col].astype('category')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 29 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   bp (Diastolic)  198 non-null    int64
 1   bp limit        198 non-null    int64
 2   sg              198 non-null    category
 3   al              198 non-null    category
 4   class           198 non-null    category
 5   rbc             198 non-null    int64
 6   su              198 non-null    category
 7   pc              198 non-null    int64
 8   pcc             198 non-null    int64
 9   ba              198 non-null    int64
 10  bgr             198 non-null    category
 11  bu              198 non-null    category
 12  sod             198 non-null    category
 13  sc              198 non-null    category
 14  pot             198 non-null    category
 15  hemo            198 non-null    category
 16  pcv             198 non-null    category
 17  rbcc            198 non-null    category
 18  wbcc            198 non-null    category
 19  htn             198 non-null    int64
 20  dm              198 non-null    int64
 21  cad             198 non-null    int64
 22  appet           198 non-null    int64
 23  pe              198 non-null    int64
 24  ane             198 non-null    int64
 25  grf             198 non-null    category
 26  stage           198 non-null    category
 27  affected        198 non-null    int64
 28  age             198 non-null    category
dtypes: category(16), int64(13)
memory usage: 28.1 KB

# converter categoria para numerico

## converter uma categoria para numerico

In [105]:
df2.age.values

['< 12', '< 12', '12 - 20', '12 - 20', '12 - 20', ..., '≥ 74', '≥ 74', '≥ 74', '≥ 74', '≥ 74']
Length: 198
Categories (10, object): ['12 - 20', '20 - 27', '27 - 35', '35 - 43', ..., '59 - 66', '66 - 74', '< 12', '≥ 74']

In [106]:
set(df2.age.values)

{'12 - 20',
 '20 - 27',
 '27 - 35',
 '35 - 43',
 '43 - 51',
 '51 - 59',
 '59 - 66',
 '66 - 74',
 '< 12',
 '≥ 74'}

In [107]:
set(df2.age.cat.codes)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [108]:
dict( zip( df2['age'].cat.codes, df2['age'] ) )

{8: '< 12',
 0: '12 - 20',
 1: '20 - 27',
 2: '27 - 35',
 3: '35 - 43',
 4: '43 - 51',
 5: '51 - 59',
 6: '59 - 66',
 7: '66 - 74',
 9: '≥ 74'}

# converter todos os atributos categoria para inteiro (codes)

In [109]:
# armazenar o mapeamento categoria - codigo - valor
dict_categorias = {}

In [110]:
for col in categorias:
    dict_categorias[col] = dict( zip(df2[col].cat.codes, df2[col]) )
    df2[col] =  df2[col].cat.codes
df2.head()

,bp (Diastolic),bp limit,sg,al,class,rbc,su,pc,pcc,ba,bgr,bu,sod,sc,pot,hemo,pcv,rbcc,wbcc,htn,dm,cad,appet,pe,ane,grf,stage,affected,age
0,0,0,0,4,0,1,4,1,0,1,8,4,3,5,2,7,3,3,1,0,0,0,1,0,0,2,0,1,8
1,1,1,0,2,0,0,4,0,0,0,0,6,3,5,2,3,6,3,5,0,0,0,0,0,0,2,0,1,8
2,0,0,1,3,0,0,4,0,0,0,1,6,3,5,2,3,5,4,5,0,1,0,1,1,0,2,0,1,0
3,1,1,4,3,1,0,4,0,0,0,8,6,3,5,2,9,9,4,4,0,0,0,0,0,0,1,0,0,0
4,0,0,2,2,0,0,4,0,0,0,8,6,4,5,2,0,3,1,5,1,1,0,0,0,0,4,0,1,0

In [111]:
print(dict_categorias)

{'sg': {0: '1.009 - 1.011', 1: '1.015 - 1.017', 4: '≥ 1.023', 2: '1.019 - 1.021', 3: '< 1.007'}, 'al': {4: '≥ 4', 2: '3 - 3', 3: '< 0', 1: '2 - 2', 0: '1 - 1'}, 'class': {0: 'ckd', 1: 'notckd'}, 'su': {4: '< 0', 3: '4 - 4', 1: '2 - 2', 2: '3 - 4', 0: '1 - 2', 5: '≥ 4'}, 'bgr': {8: '< 112', 0: '112 - 154', 1: '154 - 196', 7: '406 - 448', 3: '238 - 280', 2: '196 - 238', 9: '≥ 448', 4: '280 - 322', 6: '364 - 406', 5: '322 - 364'}, 'bu': {4: '48.1 - 86.2', 6: '< 48.1', 2: '200.5 - 238.6', 0: '124.3 - 162.4', 5: '86.2 - 124.3', 1: '162.4 - 200.5', 7: '≥ 352.9', 3: '238.6 - 276.7'}, 'sod': {3: '133 - 138', 4: '138 - 143', 1: '123 - 128', 5: '143 - 148', 6: '148 - 153', 7: '< 118', 2: '128 - 133', 0: '118 - 123', 8: '≥ 158'}, 'sc': {5: '< 3.65', 2: '3.65 - 6.8', 1: '16.25 - 19.4', 3: '6.8 - 9.95', 0: '13.1 - 16.25', 4: '9.95 - 13.1', 6: '≥ 28.85'}, 'pot': {2: '< 7.31', 3: '≥ 42.59', 1: '7.31 - 11.72', 0: '38.18 - 42.59'}, 'hemo': {7: '8.7 - 10', 3: '13.9 - 15.2', 9: '≥ 16.5', 0: '10 - 11.3', 1: '11.3 - 12.6', 6: '7.4 - 8.7', 2: '12.6 - 13.9', 4: '15.2 - 16.5', 8: '< 6.1', 5: '6.1 - 7.4'}, 'pcv': {3: '29.6 - 33.5', 6: '41.3 - 45.2', 5: '37.4 - 41.3', 9: '≥ 49.1', 1: '21.8 - 25.7', 7: '45.2 - 49.1', 8: '< 17.9', 4: '33.5 - 37.4', 2: '25.7 - 29.6', 0: '17.9 - 21.8'}, 'rbcc': {3: '4.46 - 5.05', 4: '5.05 - 5.64', 1: '3.28 - 3.87', 2: '3.87 - 4.46', 6: '6.23 - 6.82', 5: '5.64 - 6.23', 0: '2.69 - 3.28', 7: '< 2.69', 8: '≥ 7.41'}, 'wbcc': {1: '14500 - 16880', 5: '7360 - 9740', 4: '4980 - 7360', 7: '< 4980', 0: '12120 - 14500', 6: '9740 - 12120', 2: '16880 - 19260', 8: '≥ 24020', 3: '19260 - 21640'}, 'grf': {2: '127.281 - 152.446', 1: '102.115 - 127.281', 4: '177.612 - 202.778', 6: '26.6175 - 51.7832', 7: '51.7832 - 76.949', 8: '76.949 - 102.115', 3: '152.446 - 177.612', 5: '202.778 - 227.944', 9: '< 26.6175', 0: ' p '}, 'stage': {0: 's1', 3: 's4', 2: 's3', 1: 's2', 4: 's5'}, 'age': {8: '< 12', 0: '12 - 20', 1: '20 - 27', 2: '27 - 35', 3: '35 - 43', 4: '43 - 51', 5: '51 - 59', 6: '59 - 66', 7: '66 - 74', 9: '≥ 74'}}

In [112]:
dict_categorias['age']

{8: '< 12',
 0: '12 - 20',
 1: '20 - 27',
 2: '27 - 35',
 3: '35 - 43',
 4: '43 - 51',
 5: '51 - 59',
 6: '59 - 66',
 7: '66 - 74',
 9: '≥ 74'}

In [113]:
# inverter
df3 = df2.copy()
for col in categorias:
    df3[col] =  df2[col].map(dict_categorias[col])
    
df3.head()

,bp (Diastolic),bp limit,sg,al,class,rbc,su,pc,pcc,ba,bgr,bu,sod,sc,pot,hemo,pcv,rbcc,wbcc,htn,dm,cad,appet,pe,ane,grf,stage,affected,age
0,0,0,1.009 - 1.011,≥ 4,ckd,1,< 0,1,0,1,< 112,48.1 - 86.2,133 - 138,< 3.65,< 7.31,8.7 - 10,29.6 - 33.5,4.46 - 5.05,14500 - 16880,0,0,0,1,0,0,127.281 - 152.446,s1,1,< 12
1,1,1,1.009 - 1.011,3 - 3,ckd,0,< 0,0,0,0,112 - 154,< 48.1,133 - 138,< 3.65,< 7.31,13.9 - 15.2,41.3 - 45.2,4.46 - 5.05,7360 - 9740,0,0,0,0,0,0,127.281 - 152.446,s1,1,< 12
2,0,0,1.015 - 1.017,< 0,ckd,0,< 0,0,0,0,154 - 196,< 48.1,133 - 138,< 3.65,< 7.31,13.9 - 15.2,37.4 - 41.3,5.05 - 5.64,7360 - 9740,0,1,0,1,1,0,127.281 - 152.446,s1,1,12 - 20
3,1,1,≥ 1.023,< 0,notckd,0,< 0,0,0,0,< 112,< 48.1,133 - 138,< 3.65,< 7.31,≥ 16.5,≥ 49.1,5.05 - 5.64,4980 - 7360,0,0,0,0,0,0,102.115 - 127.281,s1,0,12 - 20
4,0,0,1.019 - 1.021,3 - 3,ckd,0,< 0,0,0,0,< 112,< 48.1,138 - 143,< 3.65,< 7.31,10 - 11.3,29.6 - 33.5,3.28 - 3.87,7360 - 9740,1,1,0,0,0,0,177.612 - 202.778,s1,1,12 - 20

In [114]:
df2.head()

,bp (Diastolic),bp limit,sg,al,class,rbc,su,pc,pcc,ba,bgr,bu,sod,sc,pot,hemo,pcv,rbcc,wbcc,htn,dm,cad,appet,pe,ane,grf,stage,affected,age
0,0,0,0,4,0,1,4,1,0,1,8,4,3,5,2,7,3,3,1,0,0,0,1,0,0,2,0,1,8
1,1,1,0,2,0,0,4,0,0,0,0,6,3,5,2,3,6,3,5,0,0,0,0,0,0,2,0,1,8
2,0,0,1,3,0,0,4,0,0,0,1,6,3,5,2,3,5,4,5,0,1,0,1,1,0,2,0,1,0
3,1,1,4,3,1,0,4,0,0,0,8,6,3,5,2,9,9,4,4,0,0,0,0,0,0,1,0,0,0
4,0,0,2,2,0,0,4,0,0,0,8,6,4,5,2,0,3,1,5,1,1,0,0,0,0,4,0,1,0

# Verificar a importancia de cada atributo

In [115]:
# aplicando a RFE
from sklearn.feature_selection import RFE
from sklearn import linear_model

y = df2['class'].values
X = df2.drop('class', axis=1).values

X[:3]

array([[0, 0, 0, 4, 1, 4, 1, 0, 1, 8, 4, 3, 5, 2, 7, 3, 3, 1, 0, 0, 0, 1,
        0, 0, 2, 0, 1, 8],
       [1, 1, 0, 2, 0, 4, 0, 0, 0, 0, 6, 3, 5, 2, 3, 6, 3, 5, 0, 0, 0, 0,
        0, 0, 2, 0, 1, 8],
       [0, 0, 1, 3, 0, 4, 0, 0, 0, 1, 6, 3, 5, 2, 3, 5, 4, 5, 0, 1, 0, 1,
        1, 0, 2, 0, 1, 0]])

In [116]:
y[:5]

array([0, 0, 0, 1, 0], dtype=int8)

In [117]:
df2.columns

Index(['bp (Diastolic)', 'bp limit', 'sg', 'al', 'class', 'rbc', 'su', 'pc',
       'pcc', 'ba', 'bgr', 'bu', 'sod', 'sc', 'pot', 'hemo', 'pcv', 'rbcc',
       'wbcc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'grf', 'stage',
       'affected', 'age'],
      dtype='object')

In [118]:
%%time 
num_atributos_relevantes = 10
estimator = modelo = linear_model.LinearRegression() 
selector = RFE(estimator, n_features_to_select=num_atributos_relevantes, step=1)
selector = selector.fit(X, y)

print("Num Features: ", selector.n_features_)

atributos = list(df2.columns) 
atributos.remove('class')

print(atributos)
print("Selected Features: ", selector.support_)
print("Feature Ranking: ", selector.ranking_)

Num Features:  10
['bp (Diastolic)', 'bp limit', 'sg', 'al', 'rbc', 'su', 'pc', 'pcc', 'ba', 'bgr', 'bu', 'sod', 'sc', 'pot', 'hemo', 'pcv', 'rbcc', 'wbcc', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'grf', 'stage', 'affected', 'age']
Selected Features:  [ True  True False False False False False False  True False  True  True
 False  True False False False False  True False False False False  True
 False  True  True False]
Feature Ranking:  [ 1  1  5 16  9 17 15  6  1  7  1  1 11  1 18  4  3 19  1 13  2 12 14  1
  8  1  1 10]
CPU times: user 38.9 ms, sys: 6.16 ms, total: 45.1 ms
Wall time: 44.4 ms

In [119]:
dfranking = pd.DataFrame({ 'atributos': atributos, 
                         'ranking' : selector.ranking_, 
                         'support' : selector.support_ }) 
dfranking

         atributos  ranking  support
0   bp (Diastolic)        1     True
1         bp limit        1     True
2               sg        5    False
3               al       16    False
4              rbc        9    False
5               su       17    False
6               pc       15    False
7              pcc        6    False
8               ba        1     True
9              bgr        7    False
10              bu        1     True
11             sod        1     True
12              sc       11    False
13             pot        1     True
14            hemo       18    False
15             pcv        4    False
16            rbcc        3    False
17            wbcc       19    False
18             htn        1     True
19              dm       13    False
20             cad        2    False
21           appet       12    False
22              pe       14    False
23             ane        1     True
24             grf        8    False
25           stage        1     True
26        affected        1     True
27             age       10    False

In [120]:
dfranking.sort_values(by='ranking', ascending=True).reset_index(drop=True)

         atributos  ranking  support
0   bp (Diastolic)        1     True
1            stage        1     True
2              ane        1     True
3              htn        1     True
4         affected        1     True
5              sod        1     True
6               bu        1     True
7               ba        1     True
8              pot        1     True
9         bp limit        1     True
10             cad        2    False
11            rbcc        3    False
12             pcv        4    False
13              sg        5    False
14             pcc        6    False
15             bgr        7    False
16             grf        8    False
17             rbc        9    False
18             age       10    False
19              sc       11    False
20           appet       12    False
21              dm       13    False
22              pe       14    False
23              pc       15    False
24              al       16    False
25              su       17    False
26            hemo       18    False
27            wbcc       19    False

In [78]:
atributos_escolhidos = dfranking[ (dfranking.ranking == 1) | (dfranking.ranking == 2) ]
atributos_escolhidos

         atributos  ranking  support
0   bp (Diastolic)        1     True
1         bp limit        2    False
8               ba        1     True
10              bu        1     True
11             sod        1     True
13             pot        1     True
18             htn        1     True
25           stage        1     True
26        affected        1     True

In [121]:
df3.head()

,bp (Diastolic),bp limit,sg,al,class,rbc,su,pc,pcc,ba,bgr,bu,sod,sc,pot,hemo,pcv,rbcc,wbcc,htn,dm,cad,appet,pe,ane,grf,stage,affected,age
0,0,0,1.009 - 1.011,≥ 4,ckd,1,< 0,1,0,1,< 112,48.1 - 86.2,133 - 138,< 3.65,< 7.31,8.7 - 10,29.6 - 33.5,4.46 - 5.05,14500 - 16880,0,0,0,1,0,0,127.281 - 152.446,s1,1,< 12
1,1,1,1.009 - 1.011,3 - 3,ckd,0,< 0,0,0,0,112 - 154,< 48.1,133 - 138,< 3.65,< 7.31,13.9 - 15.2,41.3 - 45.2,4.46 - 5.05,7360 - 9740,0,0,0,0,0,0,127.281 - 152.446,s1,1,< 12
2,0,0,1.015 - 1.017,< 0,ckd,0,< 0,0,0,0,154 - 196,< 48.1,133 - 138,< 3.65,< 7.31,13.9 - 15.2,37.4 - 41.3,5.05 - 5.64,7360 - 9740,0,1,0,1,1,0,127.281 - 152.446,s1,1,12 - 20
3,1,1,≥ 1.023,< 0,notckd,0,< 0,0,0,0,< 112,< 48.1,133 - 138,< 3.65,< 7.31,≥ 16.5,≥ 49.1,5.05 - 5.64,4980 - 7360,0,0,0,0,0,0,102.115 - 127.281,s1,0,12 - 20
4,0,0,1.019 - 1.021,3 - 3,ckd,0,< 0,0,0,0,< 112,< 48.1,138 - 143,< 3.65,< 7.31,10 - 11.3,29.6 - 33.5,3.28 - 3.87,7360 - 9740,1,1,0,0,0,0,177.612 - 202.778,s1,1,12 - 20

# Aplicar a Regresão Logistica

In [ ]:
CKD dataset	Attributes meaning
age  Age
bp   Blood pressure
sg   pecific gravity
al   Albumin
su   Sugar
rbc  Red blood cells
pc   Pus cell
pcc  Pus cell clumps
ba   Bacteria
bgr  Blood glucose random
bu   Blood urea
sc   Serum creatinine
sod  Sodium
pot  Potassium
hemo Hemoglobin
pcv  Packed cell volume
wc   White blood cell count
rc   Red blood cell count
htn  Hypertension
dm   Diabetes mellitus
cad  Coronary artery disease
appet Appetite
pe     Peda edema
ane   Anemia
Classification  Class

In [126]:
df2.head()

,bp (Diastolic),bp limit,sg,al,class,rbc,su,pc,pcc,ba,bgr,bu,sod,sc,pot,hemo,pcv,rbcc,wbcc,htn,dm,cad,appet,pe,ane,grf,stage,affected,age
0,0,0,0,4,0,1,4,1,0,1,8,4,3,5,2,7,3,3,1,0,0,0,1,0,0,2,0,1,8
1,1,1,0,2,0,0,4,0,0,0,0,6,3,5,2,3,6,3,5,0,0,0,0,0,0,2,0,1,8
2,0,0,1,3,0,0,4,0,0,0,1,6,3,5,2,3,5,4,5,0,1,0,1,1,0,2,0,1,0
3,1,1,4,3,1,0,4,0,0,0,8,6,3,5,2,9,9,4,4,0,0,0,0,0,0,1,0,0,0
4,0,0,2,2,0,0,4,0,0,0,8,6,4,5,2,0,3,1,5,1,1,0,0,0,0,4,0,1,0

In [140]:
y = df2['class'].to_numpy()
X = df2.drop('class', axis=1).to_numpy()

In [141]:
y[:3]

array([0, 0, 0], dtype=int8)

In [142]:
X[:3]

array([[0, 0, 0, 4, 1, 4, 1, 0, 1, 8, 4, 3, 5, 2, 7, 3, 3, 1, 0, 0, 0, 1,
        0, 0, 2, 0, 1, 8],
       [1, 1, 0, 2, 0, 4, 0, 0, 0, 0, 6, 3, 5, 2, 3, 6, 3, 5, 0, 0, 0, 0,
        0, 0, 2, 0, 1, 8],
       [0, 0, 1, 3, 0, 4, 0, 0, 0, 1, 6, 3, 5, 2, 3, 5, 4, 5, 0, 1, 0, 1,
        1, 0, 2, 0, 1, 0]])

In [149]:
len(X)

198

In [144]:
%%time
# Criando o modelo
from sklearn.linear_model import LogisticRegression

solver = 'newton-cg'
solver = 'lbfgs'
modelo = LogisticRegression(max_iter=200, solver=solver)
# max_iter = iterações realizadas para os otimizadores convergirem.
# Solver = Otimizador

CPU times: user 513 µs, sys: 2 ms, total: 2.51 ms
Wall time: 8.08 ms

In [147]:
%%time

from sklearn import model_selection
from sklearn import metrics
from sklearn.metrics import confusion_matrix

num_folds = 10
kfold = model_selection.KFold(num_folds) 
resultado = model_selection.cross_val_score(modelo, X, y, cv = kfold, scoring = 'accuracy')

# Print dos resultados
print("Acurácia: %.3f (%.3f)" % (resultado.mean(), resultado.std()))

Acurácia: 0.990 (0.020)
CPU times: user 139 ms, sys: 6.1 ms, total: 145 ms
Wall time: 150 ms

In [148]:
%%time
from sklearn.metrics import confusion_matrix
teste_size = 0.33
seed = 7

# Dividindo os dados em treino e teste
X_treino, X_teste, Y_treino, Y_teste = model_selection.train_test_split(X, y, 
                                                                         test_size = teste_size, 
                                                                         random_state = seed)
# Criando o modelo
modelo = LogisticRegression(max_iter=200, solver=solver)
modelo.fit(X_treino, Y_treino)

# Fazendo as previsões e construindo a Confusion Matrix
previsoes = modelo.predict(X_teste)
matrix = confusion_matrix(Y_teste, previsoes)

print(matrix)

[[37  1]
 [ 0 28]]
CPU times: user 14.7 ms, sys: 9.08 ms, total: 23.8 ms
Wall time: 51 ms

# Com selecão de atributos

In [150]:
print(atributos_escolhidos)

         atributos  ranking  support
0   bp (Diastolic)        1     True
1         bp limit        2    False
8               ba        1     True
10              bu        1     True
11             sod        1     True
13             pot        1     True
18             htn        1     True
25           stage        1     True
26        affected        1     True

In [151]:
df2.head()

,bp (Diastolic),bp limit,sg,al,class,rbc,su,pc,pcc,ba,bgr,bu,sod,sc,pot,hemo,pcv,rbcc,wbcc,htn,dm,cad,appet,pe,ane,grf,stage,affected,age
0,0,0,0,4,0,1,4,1,0,1,8,4,3,5,2,7,3,3,1,0,0,0,1,0,0,2,0,1,8
1,1,1,0,2,0,0,4,0,0,0,0,6,3,5,2,3,6,3,5,0,0,0,0,0,0,2,0,1,8
2,0,0,1,3,0,0,4,0,0,0,1,6,3,5,2,3,5,4,5,0,1,0,1,1,0,2,0,1,0
3,1,1,4,3,1,0,4,0,0,0,8,6,3,5,2,9,9,4,4,0,0,0,0,0,0,1,0,0,0
4,0,0,2,2,0,0,4,0,0,0,8,6,4,5,2,0,3,1,5,1,1,0,0,0,0,4,0,1,0

In [153]:
y = df3['class'].to_numpy()
df3 = df2[ list(atributos_escolhidos.atributos) ]
df3.head()

   bp (Diastolic)  bp limit  ba  bu  sod  pot  htn  stage  affected
0               0         0   1   4    3    2    0      0         1
1               1         1   0   6    3    2    0      0         1
2               0         0   0   6    3    2    0      0         1
3               1         1   0   6    3    2    0      0         0
4               0         0   0   6    4    2    1      0         1

In [154]:
X = df3.to_numpy()
X[:3]

array([[0, 0, 1, 4, 3, 2, 0, 0, 1],
       [1, 1, 0, 6, 3, 2, 0, 0, 1],
       [0, 0, 0, 6, 3, 2, 0, 0, 1]])

In [155]:
%%time
# Criando o modelo
from sklearn.linear_model import LogisticRegression

solver = 'newton-cg'
solver = 'lbfgs'
modelo = LogisticRegression(max_iter=200, solver=solver)

CPU times: user 79 µs, sys: 516 µs, total: 595 µs
Wall time: 910 µs

In [156]:
%%time

from sklearn import model_selection
from sklearn import metrics
from sklearn.metrics import confusion_matrix

num_folds = 10
kfold = model_selection.KFold(num_folds) 
resultado = model_selection.cross_val_score(modelo, X, y, cv = kfold, scoring = 'accuracy')

# Print dos resultados
print("Acurácia: %.3f (%.3f)" % (resultado.mean(), resultado.std()))

Acurácia: 0.995 (0.015)
CPU times: user 93.1 ms, sys: 18.9 ms, total: 112 ms
Wall time: 135 ms

In [161]:
%%time
from sklearn.metrics import confusion_matrix
teste_size = 0.40
seed = 7

# Dividindo os dados em treino e teste
X_treino, X_teste, Y_treino, Y_teste = model_selection.train_test_split(X, y, 
                                                                         test_size = teste_size, 
                                                                         random_state = seed)
# Criando o modelo
modelo = LogisticRegression(max_iter=200, solver=solver)
modelo.fit(X_treino, Y_treino)

# Fazendo as previsões e construindo a Confusion Matrix
previsoes = modelo.predict(X_teste)
matrix = confusion_matrix(Y_teste, previsoes)

print(matrix)

[[49  0]
 [ 0 31]]
CPU times: user 12.1 ms, sys: 4.17 ms, total: 16.2 ms
Wall time: 18 ms

In [164]:
print(atributos_escolhidos.atributos.values)

['bp (Diastolic)' 'bp limit' 'ba' 'bu' 'sod' 'pot' 'htn' 'stage'
 'affected']

In [165]:
df.stage.value_counts()

s1    52
s4    45
s2    35
s5    35
s3    31
Name: stage, dtype: int64

In [169]:
df['bp (Diastolic)'].value_counts()

1    108
0     90
Name: bp (Diastolic), dtype: int64

In [170]:
df['bp limit'].value_counts()

0    93
1    59
2    46
Name: bp limit, dtype: int64

In [173]:
df.affected.value_counts()

1    126
0     72
Name: affected, dtype: int64

In [175]:
atributos = ['bp (Diastolic)', 'bp limit', 'ba', 'bu', 'sod', 'pot', 'htn', 'stage', 'affected', 'class']
df[atributos].head()

,bp (Diastolic),bp limit,ba,bu,sod,pot,htn,stage,affected,class
0,0,0,1,48.1 - 86.2,133 - 138,< 7.31,0,s1,1,ckd
1,1,1,0,< 48.1,133 - 138,< 7.31,0,s1,1,ckd
2,0,0,0,< 48.1,133 - 138,< 7.31,0,s1,1,ckd
3,1,1,0,< 48.1,133 - 138,< 7.31,0,s1,0,notckd
4,0,0,0,< 48.1,138 - 143,< 7.31,1,s1,1,ckd

In [ ]:
CKD dataset	Attributes meaning

bp   Blood pressure
ba   Bacteria
bu   Blood urea
sod  Sodium
pot  Potassium
htn  Hypertension
stage
afected
class_

In [176]:
df2[atributos].head()

   bp (Diastolic)  bp limit  ba  bu  sod  pot  htn  stage  affected  class
0               0         0   1   4    3    2    0      0         1      0
1               1         1   0   6    3    2    0      0         1      0
2               0         0   0   6    3    2    0      0         1      0
3               1         1   0   6    3    2    0      0         0      1
4               0         0   0   6    4    2    1      0         1      0

In [182]:
# bp (Diastolic)	bp limit	ba	bu	sod	pot	htn	stage	affected	class
#0	0	1	4	3	2	0	0	1	0
new_X = np.array( [0, 0, 1, 4, 3, 2, 0, 0, 1]).reshape(1, -1)
print(modelo.predict(new_X))
print(modelo.predict_proba(new_X))

['ckd']
[[0.81610385 0.18389615]]

In [185]:
df2['class'].value_counts()

0    126
1     72
Name: class, dtype: int64