# Dica 1

Imagine que você tenha um dataframe com 2 colunas e que você queira criar uma nova variável (nova coluna) com base em condições em uma das colunas já existentes.

In [1]:
# Import do Pandas e Numpy
import pandas as pd
import numpy as np

# Criando a massa de dados de exemplo (um dicionário em Python com duas chaves, Nome e Idade, 
# e os valores como listas).
data = {'Nome':['Tom', 'Nick', 'Bob', 'Jack'], 'Idade':[20, 17, 19, 18]}

# Criando o dataframe a partir do dicionário
df = pd.DataFrame(data)

# Visualizando o dataframe
df

   Nome  Idade
0   Tom     20
1  Nick     17
2   Bob     19
3  Jack     18

In [2]:
# Vamos criar uma nova coluna vazia no dataframe
df['Maioridade'] = ''

In [3]:
df

   Nome  Idade Maioridade
0   Tom     20
1  Nick     17
2   Bob     19
3  Jack     18

Nosso trabalho agora é checar as idades na coluna Idade. Se for maior ou igual a 18, preenchemos a coluna Maioridade com o valor Sim, caso contrário o valor Não.

In [4]:
# Preenche a coluna com base em condições de outras colunas
df['Maioridade'] = np.where(df['Idade'] >= 18, 'Sim', 'Não')

# Visualizando o dataframe
df

   Nome  Idade Maioridade
0   Tom     20        Sim
1  Nick     17        Não
2   Bob     19        Sim
3  Jack     18        Sim

=======