In [1]:
!ls

Renda-Classificacao.ipynb adult.data                adult.names

In [8]:
import pandas as pd
import numpy as np

In [14]:
atributos = [ 'idade',  'tipo_trabalho', 'fnlwgt', 'educacao', 'educacao_num_anos', 'status_marital',
            'Ocupacao', 'Status_relacionamento', 'raca', 'sexo', 'ganho_de_capital',
             'perda_de_capital', 'horas_semanais', 'nacionalidade', 'classe'
            ]

atributos

['idade',
 'tipo_trabalho',
 'fnlwgt',
 'educacao',
 'educacao_num_anos',
 'status_marital',
 'Ocupacao',
 'Status_relacionamento',
 'raca',
 'sexo',
 'ganho_de_capital',
 'perda_de_capital',
 'horas_semanais',
 'nacionalidade',
 'classe']

In [15]:
file = 'adult.data'

df = pd.read_csv(file, header=0, names=atributos)
print(len(df))
df.head()

32560

,idade,tipo_trabalho,fnlwgt,educacao,educacao_num_anos,status_marital,Ocupacao,Status_relacionamento,raca,sexo,ganho_de_capital,perda_de_capital,horas_semanais,nacionalidade,classe
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [16]:
df.isnull().sum()

idade                    0
tipo_trabalho            0
fnlwgt                   0
educacao                 0
educacao_num_anos        0
status_marital           0
Ocupacao                 0
Status_relacionamento    0
raca                     0
sexo                     0
ganho_de_capital         0
perda_de_capital         0
horas_semanais           0
nacionalidade            0
classe                   0
dtype: int64

In [20]:
y = df['classe'].values
X = df.drop('classe', axis=1).to_numpy()

In [21]:
%%time 


# from sklearn.feature_selection import SelectKBest, chi2
# X, y = load_digits(return_X_y=True)
# X.shape

# X_new = SelectKBest(chi2, k=20).fit_transform(X, y)
from sklearn.feature_selection import RFE
from sklearn.ensemble import GradientBoostingClassifier


num_atributos_relevantes = 10
estimator = modelo = GradientBoostingClassifier()
selector = RFE(estimator, n_features_to_select=num_atributos_relevantes, step=1)
selector = selector.fit(X, y)

print("Num Features: ", selector.n_features_)

atributos = list(df2.columns) 
atributos.remove('class')

print(atributos)
print("Selected Features: ", selector.support_)
print("Feature Ranking: ", selector.ranking_)

ValueError: could not convert string to float: ' Self-emp-not-inc'

In [ ]:
dfranking = pd.DataFrame({ 'atributos': atributos, 
                         'ranking' : selector.ranking_, 
                         'support' : selector.support_ }) 
dfranking