# DataFrame-02-TratamentoDeDados-FuncaoLambda-12-setembro-2023

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
url = 'https://raw.githubusercontent.com/vladimiralencar/Alunos-UEPB-TopicosEspeciaisEmBancoDeDados/master/Python-Para-Analise-de-Dados/MANHA/mundo_2023_dados_defeituosos.csv'
url

'https://raw.githubusercontent.com/vladimiralencar/Alunos-UEPB-TopicosEspeciaisEmBancoDeDados/master/Python-Para-Analise-de-Dados/MANHA/mundo_2023_dados_defeituosos.csv'

In [3]:
df = pd.read_csv(url)
print(len(df))
df.head()

184

,Country,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Co2-Emissions,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,58.10%,652230.0,323000.0,32.49,8672.0,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,64.5,638.0,$0.43,Pashto,78.40%,0.28,38041754.0,48.90%,9.30%,71.40%,11.12%,9797273.0,33.939110,67.709953
1,Albania,43.10%,28748.0,9000.0,11.78,4536.0,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,78.5,15.0,$1.12,Albanian,56.90%,1.20,2854191.0,55.70%,18.60%,36.60%,12.33%,1747593.0,41.153332,20.168331
2,Algeria,17.40%,2381741.0,317000.0,24.28,150006.0,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,76.7,112.0,$0.95,Arabic,28.10%,1.72,43053054.0,41.20%,37.20%,66.10%,11.70%,31510100.0,28.033886,1.659626
3,Andorra,40.00%,468.0,NaN,7.20,469.0,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,NaN,NaN,$6.63,Catalan,36.40%,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801
4,Angola,47.50%,1246700.0,117000.0,40.73,34693.0,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,60.8,241.0,$0.71,Portuguese,33.40%,0.21,31825295.0,77.50%,9.20%,49.10%,6.89%,21061025.0,-11.202692,17.873887

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 27 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Country                                    184 non-null    object
 1   Agricultural Land( %)                      184 non-null    object
 2   Land Area(Km2)                             184 non-null    float64
 3   Armed Forces size                          169 non-null    float64
 4   Birth Rate                                 184 non-null    float64
 5   Co2-Emissions                              184 non-null    float64
 6   Fertility Rate                             184 non-null    float64
 7   Forested Area (%)                          184 non-null    object
 8   Gasoline Price                             172 non-null    object
 9   GDP                                        184 non-null    object
 10  Gross primary education enrollment (%)     183 non-null    object
 11  Gross tertiary education enrollment (%)    180 non-null    object
 12  Infant mortality                           184 non-null    float64
 13  Life expectancy                            183 non-null    float64
 14  Maternal mortality ratio                   179 non-null    float64
 15  Minimum wage                               149 non-null    object
 16  Official language                          180 non-null    object
 17  Out of pocket health expenditure           181 non-null    object
 18  Physicians per thousand                    184 non-null    float64
 19  Population                                 184 non-null    float64
 20  Population: Labor force participation (%)  174 non-null    object
 21  Tax revenue (%)                            166 non-null    object
 22  Total tax rate                             179 non-null    object
 23  Unemployment rate                          174 non-null    object
 24  Urban_population                           184 non-null    float64
 25  Latitude                                   184 non-null    float64
 26  Longitude                                  184 non-null    float64
dtypes: float64(13), object(14)
memory usage: 38.9+ KB

In [7]:
import re

txt = "The rain in Spain"
#x = re.sub("\s", "-", txt)
x = re.sub(" ", "-", txt)
print(x)

The-rain-in-Spain

In [8]:
df['Gasoline Price'][:3]

0    $0.70
1    $1.36
2    $0.28
Name: Gasoline Price, dtype: object

In [9]:
txt = '$0.70'

x = re.sub('\$', '', txt)
print(x)

0.70

In [10]:
txt.replace('$', '',)

'0.70'

In [11]:
txt = '$0.70'
v = txt.replace('$', '')
v

'0.70'

In [12]:
txt = '$0.70$'
v = txt.replace('$', '')
v

'0.70'

In [13]:
txt = '$0.70$'
v = txt.replace('$', '')
v = float(v)
v

0.7

In [14]:
type(v)

float

# Função Lambda

In [15]:
def f(x):
    return x * 2

In [16]:
f(2)

4

In [18]:
g = def f(x): return x * 2

SyntaxError: invalid syntax (907732718.py, line 1)

In [ ]:
g = lambda x :  x * 2
g

In [ ]:
g(6)

In [ ]:
a = g(6)
a

# aplicar a f(x) numa lista de valores

In [19]:
f(3)

6

In [20]:
# Solução 1

In [21]:
def aplicar_valores_numa_lista(lista, funcao):
    l = [] # lista vazia
    for elem in lista:
        valor = funcao(elem)
        l.append(valor)
        
    return l

In [22]:
l1 = [ 3, 10, 2, 6]
l1

[3, 10, 2, 6]

In [23]:
aplicar_valores_numa_lista(l1, f)

[6, 20, 4, 12]

In [24]:
# Solução 2 - Usando List Comprehension

In [25]:
def aplicar_valores_numa_lista(lista, funcao):
    l = [] # lista vazia
    for elem in lista:
        valor = funcao(elem)
        l.append(valor)
        
    return l

def aplicar_valores_numa_lista_comp(lista, funcao):
    return [ funcao(elem)  for elem in lista]

In [26]:
aplicar_valores_numa_lista_comp(l1, f)

[6, 20, 4, 12]

In [27]:
# Solução 3 - Usando a funcao Lambda

In [28]:
def f(x):
    return x * 2

In [29]:
l1

[3, 10, 2, 6]

In [30]:
aplicar_valores_numa_lista_comp(l1, lambda x : x * 2)

[6, 20, 4, 12]

In [31]:
# Solucao 4: List  List Comprehension

In [32]:
[  x * 2  for x in l1]

[6, 20, 4, 12]

In [33]:
df2 = df.copy()
df2.head()

,Country,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Co2-Emissions,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,58.10%,652230.0,323000.0,32.49,8672.0,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,64.5,638.0,$0.43,Pashto,78.40%,0.28,38041754.0,48.90%,9.30%,71.40%,11.12%,9797273.0,33.939110,67.709953
1,Albania,43.10%,28748.0,9000.0,11.78,4536.0,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,78.5,15.0,$1.12,Albanian,56.90%,1.20,2854191.0,55.70%,18.60%,36.60%,12.33%,1747593.0,41.153332,20.168331
2,Algeria,17.40%,2381741.0,317000.0,24.28,150006.0,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,76.7,112.0,$0.95,Arabic,28.10%,1.72,43053054.0,41.20%,37.20%,66.10%,11.70%,31510100.0,28.033886,1.659626
3,Andorra,40.00%,468.0,NaN,7.20,469.0,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,NaN,NaN,$6.63,Catalan,36.40%,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801
4,Angola,47.50%,1246700.0,117000.0,40.73,34693.0,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,60.8,241.0,$0.71,Portuguese,33.40%,0.21,31825295.0,77.50%,9.20%,49.10%,6.89%,21061025.0,-11.202692,17.873887

In [34]:
print(len(df2))
df2['Gasoline Price'] = df2['Gasoline Price'].dropna()
print(len(df2))

184
184

In [35]:
df2['Gasoline Price'] = df2['Gasoline Price'].apply(lambda x: str(x).replace('$', ''))
df2.head()

,Country,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Co2-Emissions,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,58.10%,652230.0,323000.0,32.49,8672.0,4.47,2.10%,0.70,"$19,101,353,833",104.00%,9.70%,47.9,64.5,638.0,$0.43,Pashto,78.40%,0.28,38041754.0,48.90%,9.30%,71.40%,11.12%,9797273.0,33.939110,67.709953
1,Albania,43.10%,28748.0,9000.0,11.78,4536.0,1.62,28.10%,1.36,"$15,278,077,447",107.00%,55.00%,7.8,78.5,15.0,$1.12,Albanian,56.90%,1.20,2854191.0,55.70%,18.60%,36.60%,12.33%,1747593.0,41.153332,20.168331
2,Algeria,17.40%,2381741.0,317000.0,24.28,150006.0,3.02,0.80%,0.28,"$169,988,236,398",109.90%,51.40%,20.1,76.7,112.0,$0.95,Arabic,28.10%,1.72,43053054.0,41.20%,37.20%,66.10%,11.70%,31510100.0,28.033886,1.659626
3,Andorra,40.00%,468.0,NaN,7.20,469.0,1.27,34.00%,1.51,"$3,154,057,987",106.40%,NaN,2.7,NaN,NaN,$6.63,Catalan,36.40%,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801
4,Angola,47.50%,1246700.0,117000.0,40.73,34693.0,5.52,46.30%,0.97,"$94,635,415,870",113.50%,9.30%,51.6,60.8,241.0,$0.71,Portuguese,33.40%,0.21,31825295.0,77.50%,9.20%,49.10%,6.89%,21061025.0,-11.202692,17.873887

In [36]:
 df2['Gasoline Price'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 184 entries, 0 to 183
Series name: Gasoline Price
Non-Null Count  Dtype
--------------  -----
184 non-null    object
dtypes: object(1)
memory usage: 1.6+ KB

In [37]:
df2['Gasoline Price'] = df2['Gasoline Price'].apply(lambda x: float(str(x).replace('$', '')))
df2.head()

,Country,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Co2-Emissions,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,58.10%,652230.0,323000.0,32.49,8672.0,4.47,2.10%,0.70,"$19,101,353,833",104.00%,9.70%,47.9,64.5,638.0,$0.43,Pashto,78.40%,0.28,38041754.0,48.90%,9.30%,71.40%,11.12%,9797273.0,33.939110,67.709953
1,Albania,43.10%,28748.0,9000.0,11.78,4536.0,1.62,28.10%,1.36,"$15,278,077,447",107.00%,55.00%,7.8,78.5,15.0,$1.12,Albanian,56.90%,1.20,2854191.0,55.70%,18.60%,36.60%,12.33%,1747593.0,41.153332,20.168331
2,Algeria,17.40%,2381741.0,317000.0,24.28,150006.0,3.02,0.80%,0.28,"$169,988,236,398",109.90%,51.40%,20.1,76.7,112.0,$0.95,Arabic,28.10%,1.72,43053054.0,41.20%,37.20%,66.10%,11.70%,31510100.0,28.033886,1.659626
3,Andorra,40.00%,468.0,NaN,7.20,469.0,1.27,34.00%,1.51,"$3,154,057,987",106.40%,NaN,2.7,NaN,NaN,$6.63,Catalan,36.40%,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801
4,Angola,47.50%,1246700.0,117000.0,40.73,34693.0,5.52,46.30%,0.97,"$94,635,415,870",113.50%,9.30%,51.6,60.8,241.0,$0.71,Portuguese,33.40%,0.21,31825295.0,77.50%,9.20%,49.10%,6.89%,21061025.0,-11.202692,17.873887

In [38]:
 df2['Gasoline Price'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 184 entries, 0 to 183
Series name: Gasoline Price
Non-Null Count  Dtype
--------------  -----
172 non-null    float64
dtypes: float64(1)
memory usage: 1.6 KB

In [39]:
# Tratar o GDP - PIB

In [40]:
atributos = list(df2.columns)
print(atributos)

['Country', 'Agricultural Land( %)', 'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Co2-Emissions', 'Fertility Rate', 'Forested Area (%)', 'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)', 'Gross tertiary education enrollment (%)', 'Infant mortality', 'Life expectancy', 'Maternal mortality ratio', 'Minimum wage', 'Official language', 'Out of pocket health expenditure', 'Physicians per thousand', 'Population', 'Population: Labor force participation (%)', 'Tax revenue (%)', 'Total tax rate', 'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude']

In [41]:
#atributos.remove('Country')
print(atributos)

['Country', 'Agricultural Land( %)', 'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Co2-Emissions', 'Fertility Rate', 'Forested Area (%)', 'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)', 'Gross tertiary education enrollment (%)', 'Infant mortality', 'Life expectancy', 'Maternal mortality ratio', 'Minimum wage', 'Official language', 'Out of pocket health expenditure', 'Physicians per thousand', 'Population', 'Population: Labor force participation (%)', 'Tax revenue (%)', 'Total tax rate', 'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude']

In [42]:
for elem in atributos:      
    if isinstance(df2[elem], str):
        print(elem + ': Objeto')
    else:
        print(elem + ': Numérico')

Country: Numérico
Agricultural Land( %): Numérico
Land Area(Km2): Numérico
Armed Forces size: Numérico
Birth Rate: Numérico
Co2-Emissions: Numérico
Fertility Rate: Numérico
Forested Area (%): Numérico
Gasoline Price: Numérico
GDP: Numérico
Gross primary education enrollment (%): Numérico
Gross tertiary education enrollment (%): Numérico
Infant mortality: Numérico
Life expectancy: Numérico
Maternal mortality ratio: Numérico
Minimum wage: Numérico
Official language: Numérico
Out of pocket health expenditure: Numérico
Physicians per thousand: Numérico
Population: Numérico
Population: Labor force participation (%): Numérico
Tax revenue (%): Numérico
Total tax rate: Numérico
Unemployment rate: Numérico
Urban_population: Numérico
Latitude: Numérico
Longitude: Numérico