# DataFrame-04-TratamentoDeDados-FuncaoLambda-19-setembro-2023

In [ ]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
url = '/home/valencar/Downloads/mundo_2023_dados_defeituosos.csv'
url

In [ ]:
df = pd.read_csv(url)
print(len(df))
df.head()

In [ ]:
df.info()

In [ ]:
import re

txt = "The rain in Spain"
#x = re.sub("\s", "-", txt)
x = re.sub(" ", "-", txt)
print(x)

In [ ]:
df['Gasoline Price'][:3]

In [ ]:
txt = '$0.70'

x = re.sub('\$', '', txt)
print(x)

In [ ]:
dir(txt)

In [ ]:
txt

In [ ]:
txt.replace('$', '')

In [ ]:
txt = '$0.70'
v = txt.replace('$', '')
v

In [ ]:
txt = '$0.70$'
v = txt.replace('$', '')
v

In [ ]:
txt = '$0.70$'
v = txt.replace('$', '')
v = float(v)
v

In [ ]:
type(v)

# Função Lambda

In [ ]:
def f(x):
    return x * 2

In [ ]:
f(2)

In [ ]:
# g = def f(x): return x * 2 # Dessa forma, dá erro de sintaxe

In [ ]:
g = lambda x :  x * 2
g

In [ ]:
g(6)

In [ ]:
a = g(6)
a

# aplicar a f(x) numa lista de valores

In [ ]:
f(3)

# Solução 1

In [ ]:
def aplicar_valores_numa_lista(lista, funcao):
    l = [] # lista vazia
    for elem in lista:
        valor = funcao(elem)
        l.append(valor)
        
    return l

In [ ]:
l1 = [ 3, 10, 2, 6]
l1

In [ ]:
l2 = aplicar_valores_numa_lista(l1, f)
l2

# Solução 2 - Usando List Comprehension

In [ ]:
def aplicar_valores_numa_lista(lista, funcao):
    l = [] # lista vazia
    for elem in lista:
        valor = funcao(elem)
        l.append(valor)  
    return l

def aplicar_valores_numa_lista_comp(lista, funcao):
    return [ funcao(elem)  for elem in lista]

In [ ]:
aplicar_valores_numa_lista_comp(l1, f)

# Solução 3 - Usando a funcao Lambda

In [ ]:
def f(x):
    return x * 2

In [ ]:
l1

In [ ]:
aplicar_valores_numa_lista_comp(l1, lambda x : x * 2)

# Solucao 4: List  List Comprehension

In [ ]:
l3 = [ x * 2  for x in l1 ]
l3

In [ ]:
df2 = df.copy()
df2.head()

In [ ]:
df2['Gasoline Price'] = df2['Gasoline Price'].apply(lambda x: str(x).replace('$', ''))
df2.head()

In [ ]:
 df2['Gasoline Price'].info()

In [ ]:
df2['Gasoline Price'] = df2['Gasoline Price'].apply(lambda x: 
                                                    float(str(x).replace('$', '')))
df2.head()

In [ ]:
 df2['Gasoline Price'].info()

In [ ]:
df[ ['GDP'] ][:5]

In [ ]:
# Tratar o GDP - PIB
df2['GDP'] = df2['GDP'].apply(lambda x: str(x).replace('$', ''))
df2[ ['GDP'] ][:5]

In [ ]:
df2['GDP'] = df2['GDP'].apply(lambda x: str(x).replace(',', ''))
df2[ ['GDP'] ][:5]

In [ ]:
df2['GDP'].info()

## converter a string limpa para inteiro

In [ ]:
df2['GDP'] = df2['GDP'].apply(lambda x: int(str(x)) )
df2[ ['GDP'] ][:5]

In [ ]:
df2.GDP.info()

In [ ]:
pd.options.display.float_format = '{:20,.0f}'.format
df2.GDP.describe()

In [ ]:
import seaborn as sns

sns.distplot(df2.GDP)

In [ ]:
df3 = df2 [ df2.GDP < 1000000000000 ]

sns.distplot(df3.GDP)

In [ ]:
df3.GDP.describe()

In [ ]:
# PIB - GDP dos Países mais ricos

df4 = df2[ df2.GDP > 1000000000000 ]

df4.head(20).reset_index(drop=True)

In [ ]:
dfo = df4.sort_values(by='GDP', ascending=False).reset_index(drop=True)
dfo

In [ ]:
sns.barplot(y='Country', x='GDP', data=dfo[:10], palette='Greens_r')

In [ ]:
df2.head()

In [ ]:
len(df2.columns)

In [ ]:
df2.info()

In [ ]:
atributos = list(df.columns)
atributos.remove('Country')
atributos.remove('Latitude')
atributos.remove('Longitude')
print(atributos)

In [ ]:
df2[atributos].head()

In [ ]:
import numpy as np

In [ ]:
atributos_nao_numericos = list()
atributos_numericos = list()
for elem in atributos:
    #print(df2[elem].dtypes)
    if df2[elem].dtypes == np.float64 or df2[elem].dtypes == np.int64:
        print('Número - ' + elem )
        atributos_numericos.append(elem)
    else:
        print('Objeto - ' + elem )
        atributos_nao_numericos.append(elem)

In [ ]:
print(atributos_numericos)

In [ ]:
df2[atributos_numericos].info()

In [ ]:
df2[atributos_numericos].head()

In [ ]:
print(atributos_nao_numericos)

In [ ]:
df2[atributos_nao_numericos].info()

In [ ]:
df2[atributos_nao_numericos].head()

In [ ]:
print(len(df2))
df2.isnull().sum()

In [ ]:
df2['Gasoline Price'] = df2['Gasoline Price'].apply(lambda x: float(str(x).replace('$', '')))
df2.head()

In [ ]:
 df2['Gasoline Price'].info()

In [ ]:
# Tratar o GDP - PIB
df2['Gasoline Price'] = df2['Gasoline Price'].apply(lambda x: 
                                                    float(str(x).replace('$', '')))
df2.head()

In [ ]:
atributos = list(df2.columns)
print(atributos)

In [ ]:
#atributos.remove('Country')
print(atributos)

In [ ]:
for elem in atributos:      
    if isinstance(df2[elem], str):
        print(elem + ': Objeto')
    else:
        print(elem + ': Numérico')

In [ ]:
df2[atributos_nao_numericos].head()