# Dataset de Regressão

Procurar 1 dataset de REGRESSÃO em:
https://archive.ics.uci.edu/ml/datasets.php

In [ ]:
atributos = [ 'mpg', 
cylinders'
    3. displacement:  continuous
    4. horsepower:    continuous
    5. weight:        continuous
    6. acceleration:  continuous
    7. model year:    multi-valued discrete
    8. origin:        multi-valued discrete
    9. car name:      string (unique for each instance)

In [ ]:
#atributos = ['mpg', 'cylinders'
    
    
#]
#:           continuous
#    2. :     multi-valued discrete
#    3. displacement:  continuous
#    4. horsepower:    continuous
#    5. weight:        continuous
#    6. acceleration:  continuous
#    7. model year:    multi-valued discrete
#    8. origin:        multi-valued discrete
#    9. car name:      string (unique for each instance)

In [4]:
import pandas as pd

filename = "auto-mpg.data"
column_names = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'year', 'origin', 'name']
df = pd.read_csv(filename, delim_whitespace=True, header=None)
df.columns = column_names
print (df.shape)
df.head(5)

(398, 9)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
mpg,398.0,23.514573,7.815984,9.0,17.500,23.0,29.000,46.6
cylinders,398.0,5.454774,1.701004,3.0,4.000,4.0,8.000,8.0
displacement,398.0,193.425879,104.269838,68.0,104.250,148.5,262.000,455.0
weight,398.0,2970.424623,846.841774,1613.0,2223.750,2803.5,3608.000,5140.0
acceleration,398.0,15.568090,2.757689,8.0,13.825,15.5,17.175,24.8
year,398.0,76.010050,3.697627,70.0,73.000,76.0,79.000,82.0
origin,398.0,1.572864,0.802055,1.0,1.000,1.0,2.000,3.0

In [8]:
df[ df.horsepower == '?' ]

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
32,25.0,4,98.0,?,2046.0,19.0,71,1,ford pinto
126,21.0,6,200.0,?,2875.0,17.0,74,1,ford maverick
330,40.9,4,85.0,?,1835.0,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,?,2905.0,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,?,2320.0,15.8,81,2,renault 18i
374,23.0,4,151.0,?,3035.0,20.5,82,1,amc concord dl

In [9]:
import numpy as np

In [10]:
df.horsepower = df.horsepower.apply(lambda x : np.nan  if x == '?' else x)

In [11]:
df.horsepower = df.horsepower.apply(lambda x : float(x))

In [12]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [13]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
mpg,398.0,23.514573,7.815984,9.0,17.500,23.0,29.000,46.6
cylinders,398.0,5.454774,1.701004,3.0,4.000,4.0,8.000,8.0
displacement,398.0,193.425879,104.269838,68.0,104.250,148.5,262.000,455.0
horsepower,392.0,104.469388,38.491160,46.0,75.000,93.5,126.000,230.0
weight,398.0,2970.424623,846.841774,1613.0,2223.750,2803.5,3608.000,5140.0
acceleration,398.0,15.568090,2.757689,8.0,13.825,15.5,17.175,24.8
year,398.0,76.010050,3.697627,70.0,73.000,76.0,79.000,82.0
origin,398.0,1.572864,0.802055,1.0,1.000,1.0,2.000,3.0

In [14]:
len(df)

398

In [15]:
media = df.horsepower.mean()
media

104.46938775510205

In [16]:
df.horsepower =  df.horsepower.fillna(media)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      398 non-null float64
weight          398 non-null float64
acceleration    398 non-null float64
year            398 non-null int64
origin          398 non-null int64
name            398 non-null object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

In [18]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

In [19]:
dataset = df.copy()
dataset.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
%matplotlib inline

# Análise Descritiva

In [21]:
df.describe()['mpg'] # variável preditora ou Classe ou Label ou Target

count    398.000000
mean      23.514573
std        7.815984
min        9.000000
25%       17.500000
50%       23.000000
75%       29.000000
max       46.600000
Name: mpg, dtype: float64

## Gerando número de observações

## Coletando x e y

In [22]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [24]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin', 'name'],
      dtype='object')

In [25]:
X = [ 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin']

y = df['mpg']


df = df[ X ]
df.head()

   cylinders  displacement  horsepower  weight  acceleration  year  origin
0          8         307.0       130.0  3504.0          12.0    70       1
1          8         350.0       165.0  3693.0          11.5    70       1
2          8         318.0       150.0  3436.0          11.0    70       1
3          8         304.0       150.0  3433.0          12.0    70       1
4          8         302.0       140.0  3449.0          10.5    70       1

In [26]:
y[:5]

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

### Matriz de Correlação

In [27]:
# Gerando a matriz
X2 = df.iloc[:,:]
matriz_corr = X2.corr()
print (matriz_corr)

              cylinders  displacement  horsepower    weight  acceleration  \
cylinders      1.000000      0.950721    0.838939  0.896017     -0.505419
displacement   0.950721      1.000000    0.893646  0.932824     -0.543684
horsepower     0.838939      0.893646    1.000000  0.860574     -0.684259
weight         0.896017      0.932824    0.860574  1.000000     -0.417457
acceleration  -0.505419     -0.543684   -0.684259 -0.417457      1.000000
year          -0.348746     -0.370164   -0.411651 -0.306564      0.288137
origin        -0.562543     -0.609409   -0.453669 -0.581024      0.205873

                  year    origin
cylinders    -0.348746 -0.562543
displacement -0.370164 -0.609409
horsepower   -0.411651 -0.453669
weight       -0.306564 -0.581024
acceleration  0.288137  0.205873
year          1.000000  0.180662
origin        0.180662  1.000000

## Visualizando a matriz de correlação (somente os atributos)

In [ ]:
# Criando um Correlation Plot
def visualize_correlation_matrix(data, hurdle = 0.0):
    fig = plt.figure(figsize=(12,9))
    ax = fig.add_subplot(111)
    R = np.corrcoef(data, rowvar = 0)
    R[np.where(np.abs(R) < hurdle)] = 0.0
    heatmap = plt.pcolor(R, cmap = mpl.cm.coolwarm, alpha = 0.8)
    heatmap.axes.set_frame_on(False)
    heatmap.axes.set_yticks(np.arange(R.shape[0]) + 0.5, minor = False)
    heatmap.axes.set_xticks(np.arange(R.shape[1]) + 0.5, minor = False)
    heatmap.axes.set_xticklabels(dataset.columns[:-1], minor = False)
    plt.xticks(rotation=90)
    heatmap.axes.set_yticklabels(dataset.columns[:-1], minor = False)
    plt.tick_params(axis = 'both', which = 'both', bottom = 'off', top = 'off', left = 'off', right = 'off')   
    plt.colorbar()
    plt.show()

In [ ]:
# Visualizando o Plot
#visualize_correlation_matrix(X, hurdle = 0.5)

# Criar o modelo

In [28]:
#X = dataset.copy()
X = df
X.head()

   cylinders  displacement  horsepower  weight  acceleration  year  origin
0          8         307.0       130.0  3504.0          12.0    70       1
1          8         350.0       165.0  3693.0          11.5    70       1
2          8         318.0       150.0  3436.0          11.0    70       1
3          8         304.0       150.0  3433.0          12.0    70       1
4          8         302.0       140.0  3449.0          10.5    70       1

# Cria o Modelo

In [29]:
# Criando um modelo
modelo = linear_model.LinearRegression()
modelo.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Mostrar os pesos dos Atributos ( yprev = w1X1 + w2X2 + ... + wnXn )

In [30]:
dataset.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [31]:
for coef, var in sorted(zip(modelo.coef_, dataset.columns[1:-1]), reverse = True):
    print ("%6.3f %s" % (coef,var))

 1.418 origin
 0.757 year
 0.103 acceleration
 0.019 displacement
-0.007 weight
-0.011 horsepower
-0.418 cylinders

### Avaliando o modelo com o R Squared (R²)

# Métricas para Algoritmos de Regressão

### Gerando o dataset

In [32]:
dataset.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [33]:
X.head()

   cylinders  displacement  horsepower  weight  acceleration  year  origin
0          8         307.0       130.0  3504.0          12.0    70       1
1          8         350.0       165.0  3693.0          11.5    70       1
2          8         318.0       150.0  3436.0          11.0    70       1
3          8         304.0       150.0  3433.0          12.0    70       1
4          8         302.0       140.0  3449.0          10.5    70       1

In [34]:
dataset['y_prev'] = modelo.predict(X)
#dataset['y_prev'] = df['y_prev']
dataset['Erro'] = dataset['y_prev'] - dataset['mpg'] 
dataset.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,y_prev,Erro
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu,14.993177,-3.006823
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320,14.085701,-0.914299
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite,15.327478,-2.672522
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst,15.185836,-0.814164
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino,15.000484,-1.999516

In [35]:
dataset['Erro'] = abs (dataset['y_prev'] - dataset['mpg'] )
dataset.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name,y_prev,Erro
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu,14.993177,3.006823
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320,14.085701,0.914299
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite,15.327478,2.672522
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst,15.185836,0.814164
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino,15.000484,1.999516

In [36]:
dataset.Erro.sum()

999.146091379388

## MAE - Mean Absolute Error
É a soma da diferença absoluta entre previsões e valores reais.<br />
Fornece uma ideia de quão erradas estão nossas previsões.<br />
Valor igual a 0 indica que não há erro, sendo a previsão perfeita <br />
(a exemplo do Logloss, a função cross_val_score inverte o valor)

In [38]:
from sklearn import model_selection
num_folds = 10
num_instances = len(X)
seed = 7

# Separando os dados em folds
kfold = model_selection.KFold(num_folds, True, random_state = seed)
resultado = model_selection.cross_val_score(modelo, X, y, cv = kfold, 
                                            scoring = 'neg_mean_absolute_error')

# Print do resultado
print("MAE: %.3f (%.3f)" % (resultado.mean(), resultado.std()))

MAE: -2.568 (0.304)

In [39]:
resultado

array([-2.97045111, -2.54690559, -2.74716497, -2.03796392, -2.54282598,
       -2.3394434 , -2.15099025, -3.0074248 , -2.59068037, -2.74300529])

## MSE - Mean Squared Error
Similar ao MAE, fornece a magnitude do erro do modelo.<br />
Ao extrairmos a raiz quadrada do MSE convertemos as unidades de volta ao original, 
o que pode ser útil para descrição e apresentação.<br />
Isso é chamado RMSE (Root Mean Squared Error)

In [40]:
# Definindo os valores para o número de folds
num_folds = 10
num_instances = len(X)
seed = 7

# Separando os dados em folds
kfold = model_selection.KFold(num_folds, True, random_state = seed)

resultado = model_selection.cross_val_score(modelo, X, y, cv = kfold, scoring = 'neg_mean_squared_error')

# Print do resultado
print("MSE: %.3f (%.3f)" % (resultado.mean(), resultado.std()))

MSE: -11.503 (2.860)

# RMSE (Root Mean Squared Error)

Similar ao MAE, fornece a magnitude do erro do modelo.<br>
Ao extrairmos a raiz quadrada do MSE convertemos as unidades de volta ao original, o que pode ser útil para descrição e apresentação.

In [41]:
from math import sqrt
print("RMSE: %.3f " % (sqrt(abs(resultado.mean()))))

RMSE: 3.392

## R2  
Essa métrica fornece uma indicação do nível de precisão das previsões em relação aos valores observados.<br />
Também chamado de coeficiente de determinação.<br />
Valores entre 0 e 1, sendo 1 o valor ideal.

In [42]:
resultado = model_selection.cross_val_score(modelo, X, y, cv = kfold, scoring = 'r2')

# Print do resultado
print("R^2: %.3f (%.3f)" % (resultado.mean(), resultado.std()))

R^2: 0.799 (0.061)