# DataFrame-03-TratamentoDeDados-FuncaoLambda-14-setembro-2023

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [5]:
url = '/home/valencar/Downloads/mundo_2023_dados_defeituosos.csv'
url

'/home/valencar/Downloads/mundo_2023_dados_defeituosos.csv'

In [6]:
df = pd.read_csv(url)
print(len(df))
df.head()

184

,Country,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Co2-Emissions,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,58.10%,652230.0,323000.0,32.49,8672.0,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,64.5,638.0,$0.43,Pashto,78.40%,0.28,38041754.0,48.90%,9.30%,71.40%,11.12%,9797273.0,33.939110,67.709953
1,Albania,43.10%,28748.0,9000.0,11.78,4536.0,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,78.5,15.0,$1.12,Albanian,56.90%,1.20,2854191.0,55.70%,18.60%,36.60%,12.33%,1747593.0,41.153332,20.168331
2,Algeria,17.40%,2381741.0,317000.0,24.28,150006.0,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,76.7,112.0,$0.95,Arabic,28.10%,1.72,43053054.0,41.20%,37.20%,66.10%,11.70%,31510100.0,28.033886,1.659626
3,Andorra,40.00%,468.0,NaN,7.20,469.0,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,NaN,NaN,$6.63,Catalan,36.40%,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801
4,Angola,47.50%,1246700.0,117000.0,40.73,34693.0,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,60.8,241.0,$0.71,Portuguese,33.40%,0.21,31825295.0,77.50%,9.20%,49.10%,6.89%,21061025.0,-11.202692,17.873887

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 27 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Country                                    184 non-null    object
 1   Agricultural Land( %)                      184 non-null    object
 2   Land Area(Km2)                             184 non-null    float64
 3   Armed Forces size                          169 non-null    float64
 4   Birth Rate                                 184 non-null    float64
 5   Co2-Emissions                              184 non-null    float64
 6   Fertility Rate                             184 non-null    float64
 7   Forested Area (%)                          184 non-null    object
 8   Gasoline Price                             172 non-null    object
 9   GDP                                        184 non-null    object
 10  Gross primary education enrollment (%)     183 non-null    object
 11  Gross tertiary education enrollment (%)    180 non-null    object
 12  Infant mortality                           184 non-null    float64
 13  Life expectancy                            183 non-null    float64
 14  Maternal mortality ratio                   179 non-null    float64
 15  Minimum wage                               149 non-null    object
 16  Official language                          180 non-null    object
 17  Out of pocket health expenditure           181 non-null    object
 18  Physicians per thousand                    184 non-null    float64
 19  Population                                 184 non-null    float64
 20  Population: Labor force participation (%)  174 non-null    object
 21  Tax revenue (%)                            166 non-null    object
 22  Total tax rate                             179 non-null    object
 23  Unemployment rate                          174 non-null    object
 24  Urban_population                           184 non-null    float64
 25  Latitude                                   184 non-null    float64
 26  Longitude                                  184 non-null    float64
dtypes: float64(13), object(14)
memory usage: 38.9+ KB

In [8]:
import re

txt = "The rain in Spain"
#x = re.sub("\s", "-", txt)
x = re.sub(" ", "-", txt)
print(x)

The-rain-in-Spain

In [9]:
df['Gasoline Price'][:3]

0    $0.70
1    $1.36
2    $0.28
Name: Gasoline Price, dtype: object

In [10]:
txt = '$0.70'

x = re.sub('\$', '', txt)
print(x)

0.70

In [11]:
dir(txt)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [12]:
txt

'$0.70'

In [13]:
txt.replace('$', '')

'0.70'

In [14]:
txt = '$0.70'
v = txt.replace('$', '')
v

'0.70'

In [15]:
txt = '$0.70$'
v = txt.replace('$', '')
v

'0.70'

In [16]:
txt = '$0.70$'
v = txt.replace('$', '')
v = float(v)
v

0.7

In [17]:
type(v)

float

# Função Lambda

In [18]:
def f(x):
    return x * 2

In [19]:
f(2)

4

In [20]:
g = def f(x): return x * 2

SyntaxError: invalid syntax (907732718.py, line 1)

In [21]:
g = lambda x :  x * 2
g

In [22]:
g(6)

12

In [23]:
a = g(6)
a

12

# aplicar a f(x) numa lista de valores

In [24]:
f(3)

6

# Solução 1

In [25]:
def aplicar_valores_numa_lista(lista, funcao):
    l = [] # lista vazia
    for elem in lista:
        valor = funcao(elem)
        l.append(valor)
        
    return l

In [26]:
l1 = [ 3, 10, 2, 6]
l1

[3, 10, 2, 6]

In [28]:
l2 = aplicar_valores_numa_lista(l1, f)
l2

[6, 20, 4, 12]

# Solução 2 - Usando List Comprehension

In [29]:
def aplicar_valores_numa_lista(lista, funcao):
    l = [] # lista vazia
    for elem in lista:
        valor = funcao(elem)
        l.append(valor)  
    return l

def aplicar_valores_numa_lista_comp(lista, funcao):
    return [ funcao(elem)  for elem in lista]

In [30]:
aplicar_valores_numa_lista_comp(l1, f)

[6, 20, 4, 12]

# Solução 3 - Usando a funcao Lambda

In [31]:
def f(x):
    return x * 2

In [32]:
l1

[3, 10, 2, 6]

In [33]:
aplicar_valores_numa_lista_comp(l1, lambda x : x * 2)

[6, 20, 4, 12]

# Solucao 4: List  List Comprehension

In [35]:
l3 = [  x * 2  for x in l1 ]
l3

[6, 20, 4, 12]

In [54]:
df2 = df.copy()
df2.head()

,Country,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Co2-Emissions,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,58.10%,652230.0,323000.0,32.49,8672.0,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,64.5,638.0,$0.43,Pashto,78.40%,0.28,38041754.0,48.90%,9.30%,71.40%,11.12%,9797273.0,33.939110,67.709953
1,Albania,43.10%,28748.0,9000.0,11.78,4536.0,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,78.5,15.0,$1.12,Albanian,56.90%,1.20,2854191.0,55.70%,18.60%,36.60%,12.33%,1747593.0,41.153332,20.168331
2,Algeria,17.40%,2381741.0,317000.0,24.28,150006.0,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,76.7,112.0,$0.95,Arabic,28.10%,1.72,43053054.0,41.20%,37.20%,66.10%,11.70%,31510100.0,28.033886,1.659626
3,Andorra,40.00%,468.0,NaN,7.20,469.0,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,NaN,NaN,$6.63,Catalan,36.40%,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801
4,Angola,47.50%,1246700.0,117000.0,40.73,34693.0,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,60.8,241.0,$0.71,Portuguese,33.40%,0.21,31825295.0,77.50%,9.20%,49.10%,6.89%,21061025.0,-11.202692,17.873887

In [55]:
df2['Gasoline Price'] = df2['Gasoline Price'].apply(lambda x: str(x).replace('$', ''))
df2.head()

,Country,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Co2-Emissions,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,58.10%,652230.0,323000.0,32.49,8672.0,4.47,2.10%,0.70,"$19,101,353,833",104.00%,9.70%,47.9,64.5,638.0,$0.43,Pashto,78.40%,0.28,38041754.0,48.90%,9.30%,71.40%,11.12%,9797273.0,33.939110,67.709953
1,Albania,43.10%,28748.0,9000.0,11.78,4536.0,1.62,28.10%,1.36,"$15,278,077,447",107.00%,55.00%,7.8,78.5,15.0,$1.12,Albanian,56.90%,1.20,2854191.0,55.70%,18.60%,36.60%,12.33%,1747593.0,41.153332,20.168331
2,Algeria,17.40%,2381741.0,317000.0,24.28,150006.0,3.02,0.80%,0.28,"$169,988,236,398",109.90%,51.40%,20.1,76.7,112.0,$0.95,Arabic,28.10%,1.72,43053054.0,41.20%,37.20%,66.10%,11.70%,31510100.0,28.033886,1.659626
3,Andorra,40.00%,468.0,NaN,7.20,469.0,1.27,34.00%,1.51,"$3,154,057,987",106.40%,NaN,2.7,NaN,NaN,$6.63,Catalan,36.40%,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801
4,Angola,47.50%,1246700.0,117000.0,40.73,34693.0,5.52,46.30%,0.97,"$94,635,415,870",113.50%,9.30%,51.6,60.8,241.0,$0.71,Portuguese,33.40%,0.21,31825295.0,77.50%,9.20%,49.10%,6.89%,21061025.0,-11.202692,17.873887

In [56]:
 df2['Gasoline Price'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 184 entries, 0 to 183
Series name: Gasoline Price
Non-Null Count  Dtype
--------------  -----
184 non-null    object
dtypes: object(1)
memory usage: 1.6+ KB

In [57]:
df2['Gasoline Price'] = df2['Gasoline Price'].apply(lambda x: 
                                                    float(str(x).replace('$', '')))
df2.head()

,Country,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Co2-Emissions,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,58.10%,652230.0,323000.0,32.49,8672.0,4.47,2.10%,0.70,"$19,101,353,833",104.00%,9.70%,47.9,64.5,638.0,$0.43,Pashto,78.40%,0.28,38041754.0,48.90%,9.30%,71.40%,11.12%,9797273.0,33.939110,67.709953
1,Albania,43.10%,28748.0,9000.0,11.78,4536.0,1.62,28.10%,1.36,"$15,278,077,447",107.00%,55.00%,7.8,78.5,15.0,$1.12,Albanian,56.90%,1.20,2854191.0,55.70%,18.60%,36.60%,12.33%,1747593.0,41.153332,20.168331
2,Algeria,17.40%,2381741.0,317000.0,24.28,150006.0,3.02,0.80%,0.28,"$169,988,236,398",109.90%,51.40%,20.1,76.7,112.0,$0.95,Arabic,28.10%,1.72,43053054.0,41.20%,37.20%,66.10%,11.70%,31510100.0,28.033886,1.659626
3,Andorra,40.00%,468.0,NaN,7.20,469.0,1.27,34.00%,1.51,"$3,154,057,987",106.40%,NaN,2.7,NaN,NaN,$6.63,Catalan,36.40%,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801
4,Angola,47.50%,1246700.0,117000.0,40.73,34693.0,5.52,46.30%,0.97,"$94,635,415,870",113.50%,9.30%,51.6,60.8,241.0,$0.71,Portuguese,33.40%,0.21,31825295.0,77.50%,9.20%,49.10%,6.89%,21061025.0,-11.202692,17.873887

In [58]:
 df2['Gasoline Price'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 184 entries, 0 to 183
Series name: Gasoline Price
Non-Null Count  Dtype
--------------  -----
172 non-null    float64
dtypes: float64(1)
memory usage: 1.6 KB

In [59]:
df[ ['GDP'] ][:5]

                 GDP
0   $19,101,353,833
1   $15,278,077,447
2  $169,988,236,398
3    $3,154,057,987
4   $94,635,415,870

In [61]:
# Tratar o GDP - PIB
df2['GDP'] = df2['GDP'].apply(lambda x: str(x).replace('$', ''))
df2[ ['GDP'] ][:5]

                GDP
0   19,101,353,833
1   15,278,077,447
2  169,988,236,398
3    3,154,057,987
4   94,635,415,870

In [62]:
df2['GDP'] = df2['GDP'].apply(lambda x: str(x).replace(',', ''))
df2[ ['GDP'] ][:5]

             GDP
0   19101353833
1   15278077447
2  169988236398
3    3154057987
4   94635415870

## converter a string limpa para inteiro

In [63]:
df2['GDP'] = df2['GDP'].apply(lambda x: int(str(x)) )
df2[ ['GDP'] ][:5]

            GDP
0   19101353833
1   15278077447
2  169988236398
3    3154057987
4   94635415870

In [64]:
df2.GDP.info()

<class 'pandas.core.series.Series'>
RangeIndex: 184 entries, 0 to 183
Series name: GDP
Non-Null Count  Dtype
--------------  -----
184 non-null    int64
dtypes: int64(1)
memory usage: 1.6 KB

In [67]:
pd.options.display.float_format = '{:20,.0f}'.format
df2.GDP.describe()

count                    184
mean         500,413,663,923
std        2,222,355,140,579
min              194,647,202
25%           11,242,907,244
50%           39,002,354,962
75%          247,386,295,126
max       21,427,700,000,000
Name: GDP, dtype: float64

In [68]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 27 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Country                                    184 non-null    object
 1   Agricultural Land( %)                      184 non-null    object
 2   Land Area(Km2)                             184 non-null    float64
 3   Armed Forces size                          169 non-null    float64
 4   Birth Rate                                 184 non-null    float64
 5   Co2-Emissions                              184 non-null    float64
 6   Fertility Rate                             184 non-null    float64
 7   Forested Area (%)                          184 non-null    object
 8   Gasoline Price                             172 non-null    float64
 9   GDP                                        184 non-null    int64
 10  Gross primary education enrollment (%)     183 non-null    object
 11  Gross tertiary education enrollment (%)    180 non-null    object
 12  Infant mortality                           184 non-null    float64
 13  Life expectancy                            183 non-null    float64
 14  Maternal mortality ratio                   179 non-null    float64
 15  Minimum wage                               149 non-null    object
 16  Official language                          180 non-null    object
 17  Out of pocket health expenditure           181 non-null    object
 18  Physicians per thousand                    184 non-null    float64
 19  Population                                 184 non-null    float64
 20  Population: Labor force participation (%)  174 non-null    object
 21  Tax revenue (%)                            166 non-null    object
 22  Total tax rate                             179 non-null    object
 23  Unemployment rate                          174 non-null    object
 24  Urban_population                           184 non-null    float64
 25  Latitude                                   184 non-null    float64
 26  Longitude                                  184 non-null    float64
dtypes: float64(14), int64(1), object(12)
memory usage: 38.9+ KB

In [100]:
atributos = list(df.columns)
atributos.remove('Country')
print(atributos)

['Agricultural Land( %)', 'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Co2-Emissions', 'Fertility Rate', 'Forested Area (%)', 'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)', 'Gross tertiary education enrollment (%)', 'Infant mortality', 'Life expectancy', 'Maternal mortality ratio', 'Minimum wage', 'Official language', 'Out of pocket health expenditure', 'Physicians per thousand', 'Population', 'Population: Labor force participation (%)', 'Tax revenue (%)', 'Total tax rate', 'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude']

In [101]:
import numpy as np

In [102]:
atributos_nao_numericos = list()
atributos_numericos = list()
for elem in atributos:
    #print(df2[elem].dtypes)
    if df2[elem].dtypes == np.float64 or df2[elem].dtypes == np.int64:
        print('Número - ' + elem )
        atributos_numericos.append(elem)
    else:
        print('Objeto - ' + elem )
        atributos_nao_numericos.append(elem)

Objeto - Agricultural Land( %)
Número - Land Area(Km2)
Número - Armed Forces size
Número - Birth Rate
Número - Co2-Emissions
Número - Fertility Rate
Objeto - Forested Area (%)
Número - Gasoline Price
Número - GDP
Objeto - Gross primary education enrollment (%)
Objeto - Gross tertiary education enrollment (%)
Número - Infant mortality
Número - Life expectancy
Número - Maternal mortality ratio
Objeto - Minimum wage
Objeto - Official language
Objeto - Out of pocket health expenditure
Número - Physicians per thousand
Número - Population
Objeto - Population: Labor force participation (%)
Objeto - Tax revenue (%)
Objeto - Total tax rate
Objeto - Unemployment rate
Número - Urban_population
Número - Latitude
Número - Longitude

In [103]:
print(atributos_numericos)

['Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Co2-Emissions', 'Fertility Rate', 'Gasoline Price', 'GDP', 'Infant mortality', 'Life expectancy', 'Maternal mortality ratio', 'Physicians per thousand', 'Population', 'Urban_population', 'Latitude', 'Longitude']

In [105]:
df2[atributos_numericos].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Land Area(Km2)            184 non-null    float64
 1   Armed Forces size         169 non-null    float64
 2   Birth Rate                184 non-null    float64
 3   Co2-Emissions             184 non-null    float64
 4   Fertility Rate            184 non-null    float64
 5   Gasoline Price            172 non-null    float64
 6   GDP                       184 non-null    int64
 7   Infant mortality          184 non-null    float64
 8   Life expectancy           183 non-null    float64
 9   Maternal mortality ratio  179 non-null    float64
 10  Physicians per thousand   184 non-null    float64
 11  Population                184 non-null    float64
 12  Urban_population          184 non-null    float64
 13  Latitude                  184 non-null    float64
 14  Longitude                 184 non-null    float64
dtypes: float64(14), int64(1)
memory usage: 21.7 KB

In [106]:
df2[atributos_numericos].head()

,Land Area(Km2),Armed Forces size,Birth Rate,Co2-Emissions,Fertility Rate,Gasoline Price,GDP,Infant mortality,Life expectancy,Maternal mortality ratio,Physicians per thousand,Population,Urban_population,Latitude,Longitude
0,"652,230","323,000",32,"8,672",4,1,19101353833,48,64,638,0,"38,041,754","9,797,273",34,68
1,"28,748","9,000",12,"4,536",2,1,15278077447,8,78,15,1,"2,854,191","1,747,593",41,20
2,"2,381,741","317,000",24,"150,006",3,0,169988236398,20,77,112,2,"43,053,054","31,510,100",28,2
3,468,NaN,7,469,1,2,3154057987,3,NaN,NaN,3,"77,142","67,873",43,2
4,"1,246,700","117,000",41,"34,693",6,1,94635415870,52,61,241,0,"31,825,295","21,061,025",-11,18

In [107]:
print(atributos_nao_numericos)

['Agricultural Land( %)', 'Forested Area (%)', 'Gross primary education enrollment (%)', 'Gross tertiary education enrollment (%)', 'Minimum wage', 'Official language', 'Out of pocket health expenditure', 'Population: Labor force participation (%)', 'Tax revenue (%)', 'Total tax rate', 'Unemployment rate']

In [108]:
df2[atributos_nao_numericos].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184 entries, 0 to 183
Data columns (total 11 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Agricultural Land( %)                      184 non-null    object
 1   Forested Area (%)                          184 non-null    object
 2   Gross primary education enrollment (%)     183 non-null    object
 3   Gross tertiary education enrollment (%)    180 non-null    object
 4   Minimum wage                               149 non-null    object
 5   Official language                          180 non-null    object
 6   Out of pocket health expenditure           181 non-null    object
 7   Population: Labor force participation (%)  174 non-null    object
 8   Tax revenue (%)                            166 non-null    object
 9   Total tax rate                             179 non-null    object
 10  Unemployment rate                          174 non-null    object
dtypes: object(11)
memory usage: 15.9+ KB

In [109]:
df2[atributos_nao_numericos].head()

,Agricultural Land( %),Forested Area (%),Gross primary education enrollment (%),Gross tertiary education enrollment (%),Minimum wage,Official language,Out of pocket health expenditure,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate
0,58.10%,2.10%,104.00%,9.70%,$0.43,Pashto,78.40%,48.90%,9.30%,71.40%,11.12%
1,43.10%,28.10%,107.00%,55.00%,$1.12,Albanian,56.90%,55.70%,18.60%,36.60%,12.33%
2,17.40%,0.80%,109.90%,51.40%,$0.95,Arabic,28.10%,41.20%,37.20%,66.10%,11.70%
3,40.00%,34.00%,106.40%,NaN,$6.63,Catalan,36.40%,NaN,NaN,NaN,NaN
4,47.50%,46.30%,113.50%,9.30%,$0.71,Portuguese,33.40%,77.50%,9.20%,49.10%,6.89%

In [45]:
print(len(df2))
df2.isnull().sum()

184

Country                                       0
Agricultural Land( %)                         0
Land Area(Km2)                                0
Armed Forces size                            15
Birth Rate                                    0
Co2-Emissions                                 0
Fertility Rate                                0
Forested Area (%)                             0
Gasoline Price                               12
GDP                                           0
Gross primary education enrollment (%)        1
Gross tertiary education enrollment (%)       4
Infant mortality                              0
Life expectancy                               1
Maternal mortality ratio                      5
Minimum wage                                 35
Official language                             4
Out of pocket health expenditure              3
Physicians per thousand                       0
Population                                    0
Population: Labor force participation (%)    10
Tax revenue (%)                              18
Total tax rate                                5
Unemployment rate                            10
Urban_population                              0
Latitude                                      0
Longitude                                     0
dtype: int64

In [ ]:
df2['Gasoline Price'] = df2['Gasoline Price'].apply(lambda x: float(str(x).replace('$', '')))
df2.head()

In [ ]:
 df2['Gasoline Price'].info()

In [ ]:
# Tratar o GDP - PIB
df2['Gasoline Price'] = df2['Gasoline Price'].apply(lambda x: 
                                                    float(str(x).replace('$', '')))
df2.head()

In [ ]:
atributos = list(df2.columns)
print(atributos)

In [ ]:
#atributos.remove('Country')
print(atributos)

In [ ]:
for elem in atributos:      
    if isinstance(df2[elem], str):
        print(elem + ': Objeto')
    else:
        print(elem + ': Numérico')